.depth-7-frame-025,
.vector-05 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-7-frame-025 {
  width: 13.3px;
  height: 13.3px;
  display: none;
}
.depth-6-frame-014 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-6-frame-0-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-3) 0 0;
}
.educhain5 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.27px;
  line-height: 23px;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  min-width: 99px;
  white-space: nowrap;
}
.content1,
.layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.layout {
  flex-direction: row;
  gap: var(--gap-base);
}
.content1 {
  flex-direction: column;
  padding: var(--padding-5xs-5) 0 0;
}
.home5 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 48px;
  cursor: pointer;
}
.navigation-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-6xs) 0 0;
}
.edit-profile6 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 95px;
  white-space: nowrap;
  cursor: pointer;
}
.navigation-links1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) 0 0;
}
.certificate4 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 90px;
  cursor: pointer;
}
.program-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-7xs) 0 0;
}
.enrollment-child {
  height: 40px;
  width: 171px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  display: none;
}
.employ-enrollment5 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  z-index: 1;
}
.enrollment {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-3xs)
    var(--padding-4xs);
  white-space: nowrap;
}
.training-programs8 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  white-space: nowrap;
  cursor: pointer;
}
.program-links1,
.programs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.programs {
  flex-direction: row;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
}
.verification6 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 96px;
  cursor: pointer;
}
.navigation-links2 {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.depth-5-frame-19 {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: var(--br-xs);
}
.management-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.depth-4-frame-25 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.main1,
.management,
.navigation1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.main1,
.navigation1 {
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.main1 {
  width: 1182px;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
.enrolled-list-child {
  width: 113px;
  height: 1px;
  position: absolute;
  margin: 0 !important;
  top: 346.9px;
  left: 200px;
  object-fit: contain;
  z-index: 1;
}
.manage-employs-enrollment {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.8px;
  line-height: 40px;
  font-weight: 800;
  font-family: inherit;
}
.employs-management {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 14.8px;
  box-sizing: border-box;
  max-width: 100%;
}
.depth-7-frame-026 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.search-for-employs {
  width: 141px;
  border: 0;
  outline: 0;
  font-family: var(--font-manrope);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.depth-5-frame-04,
.employs-depth {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.depth-5-frame-04 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
}
.employs-depth {
  align-self: stretch;
  padding: 0 0 var(--padding-8xs-2);
}
.all103871 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 90px;
}
.all-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.enrolled3387,
.pending63871 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  color: var(--color-dimgray-300);
  min-width: 128px;
}
.pending63871 {
  letter-spacing: -0.8px;
  color: var(--color-dimgray-100);
  min-width: 118px;
}
.status-layout,
.status-options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.status-options {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.status-layout {
  width: 461px;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.status-container-child {
  align-self: stretch;
  height: 4px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.enrollment-status,
.status-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.status-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.enrollment-status {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--font-size-mid);
}
.names {
  width: 136px;
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.email1 {
  width: 205px;
  flex-shrink: 0;
}
.email1,
.program,
.status1 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
}
.program {
  flex: 1;
  min-width: 50px;
}
.status1 {
  width: 163.2px;
}
.status-info {
  width: 195.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.actions {
  width: 139.2px;
  position: relative;
  line-height: 21px;
  display: inline-block;
  color: var(--color-black);
  flex-shrink: 0;
}
.depth-8-frame-012 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-smi-5);
  row-gap: 20px;
}
.ali-akther,
.alialigmailcom {
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.ali-akther {
  width: 243px;
  font-weight: 600;
  flex-shrink: 0;
}
.alialigmailcom {
  width: 205px;
  white-space: nowrap;
}
.employ-contact {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  margin-left: -107px;
  color: var(--color-slategray-200);
}
.program-a {
  width: 252.5px;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -107px;
}
.employ-details,
.employ-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.employ-info {
  align-self: stretch;
  flex-direction: row;
}
.employ-details {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  min-width: 385px;
  max-width: 100%;
}
.pending5 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-011 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
}
.approvereject {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  flex-shrink: 0;
}
.action-options,
.depth-8-frame-013,
.employ-action {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.action-options {
  width: 139.2px;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-013,
.employ-action {
  flex-direction: row;
  max-width: 100%;
}
.employ-action {
  gap: var(--gap-13xl);
  margin-left: -33.9px;
}
.depth-8-frame-013 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: var(--padding-lg) var(--padding-base) var(--padding-xl);
  row-gap: 20px;
}
.baber-ahmed,
.berkeleyhillgmailcom {
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.baber-ahmed {
  width: 243px;
  font-weight: 600;
  flex-shrink: 0;
}
.berkeleyhillgmailcom {
  width: 205px;
  white-space: nowrap;
}
.berkeleyhillgmailcom-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  margin-left: -107px;
  color: var(--color-slategray-200);
}
.program-b {
  width: 252.5px;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -107px;
}
.baber-ahmed-parent,
.depth-8-frame-1-inner1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.baber-ahmed-parent {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-1-inner1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  min-width: 385px;
  max-width: 100%;
}
.enrolled {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-012 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
}
.view-details7 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  flex-shrink: 0;
}
.view-details-wrapper {
  width: 139.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-10-frame-0-parent,
.depth-8-frame-12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-10-frame-0-parent {
  gap: var(--gap-13xl);
  margin-left: -33.9px;
}
.depth-8-frame-12 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: var(--padding-lg) var(--padding-base) var(--padding-xl);
  row-gap: 20px;
}
.amme-waghar {
  width: 243px;
  font-weight: 600;
  flex-shrink: 0;
}
.amme-waghar,
.program-c,
.seatwashing12gmailcom {
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.seatwashing12gmailcom {
  width: 205px;
  flex-shrink: 0;
  white-space: nowrap;
}
.program-c {
  flex: 1;
  font-weight: 500;
  color: var(--color-black);
  min-width: 54px;
}
.seatwashing12gmailcom-parent {
  flex: 1;
  flex-direction: row;
  row-gap: 20px;
  margin-left: -107px;
  color: var(--color-slategray-200);
}
.amme-waghar-parent,
.depth-8-frame-2-child,
.seatwashing12gmailcom-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.amme-waghar-parent {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-2-child {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  min-width: 385px;
}
.enrolled1 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-013 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
}
.view-details8 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  flex-shrink: 0;
}
.view-details-container {
  width: 139.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-10-frame-0-group,
.depth-8-frame-22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-10-frame-0-group {
  gap: var(--gap-13xl);
  margin-left: -33.9px;
}
.depth-8-frame-22 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: var(--padding-lg) var(--padding-base) var(--padding-xl);
  row-gap: 20px;
}
.alea-george,
.camb344gmailcom {
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.alea-george {
  width: 243px;
  font-weight: 600;
  flex-shrink: 0;
}
.camb344gmailcom {
  width: 205px;
  white-space: nowrap;
}
.camb344gmailcom-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  margin-left: -107px;
  color: var(--color-slategray-200);
}
.program-a1 {
  width: 252.5px;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -107px;
}
.alea-george-parent,
.depth-8-frame-3-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.alea-george-parent {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-3-child {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  min-width: 385px;
  max-width: 100%;
}
.pending6 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-014 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
}
.approvereject1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  flex-shrink: 0;
}
.approvereject-wrapper {
  width: 139.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-10-frame-0-parent1,
.depth-8-frame-31 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-10-frame-0-parent1 {
  gap: var(--gap-13xl);
  margin-left: -33.9px;
}
.depth-8-frame-31 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: var(--padding-lg) var(--padding-base) var(--padding-xl);
  row-gap: 20px;
}
.mehdi-raza {
  width: 243px;
  font-weight: 600;
  flex-shrink: 0;
}
.massachusettsgmailcom,
.mehdi-raza,
.program-a2 {
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.massachusettsgmailcom {
  width: 205px;
  flex-shrink: 0;
  white-space: nowrap;
}
.program-a2 {
  flex: 1;
  font-weight: 500;
  color: var(--color-black);
  min-width: 53px;
}
.massachusettsgmailcom-parent {
  flex: 1;
  flex-direction: row;
  row-gap: 20px;
  margin-left: -107px;
  color: var(--color-slategray-200);
}
.depth-8-frame-4-inner,
.massachusettsgmailcom-parent,
.mehdi-raza-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.mehdi-raza-parent {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-4-inner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  min-width: 385px;
}
.enrolled2 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-015 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
}
.view-details9 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  flex-shrink: 0;
}
.view-details-frame {
  width: 139.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-10-frame-0-parent2,
.depth-8-frame-41 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-10-frame-0-parent2 {
  gap: var(--gap-13xl);
  margin-left: -33.9px;
}
.depth-8-frame-41 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: var(--padding-lg) var(--padding-base) var(--padding-xl);
  row-gap: 20px;
}
.ali-akther1,
.alialigmailcom1 {
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.ali-akther1 {
  width: 243px;
  font-weight: 600;
  flex-shrink: 0;
}
.alialigmailcom1 {
  width: 205px;
  white-space: nowrap;
}
.alialigmailcom-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  margin-left: -107px;
  color: var(--color-slategray-200);
}
.program-c1 {
  width: 252.5px;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -107px;
}
.ali-akther-parent,
.depth-8-frame-0-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ali-akther-parent {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-0-child {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  min-width: 385px;
  max-width: 100%;
}
.pending7 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-016 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
}
.approvereject2 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  flex-shrink: 0;
}
.approvereject-container {
  width: 139.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-10-frame-0-parent3,
.depth-8-frame-014 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-10-frame-0-parent3 {
  gap: var(--gap-13xl);
  margin-left: -33.9px;
}
.depth-8-frame-014 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: var(--padding-lg) var(--padding-base) var(--padding-xl);
  row-gap: 20px;
}
.baber-ahmed1,
.berkeleyhillgmailcom1 {
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.baber-ahmed1 {
  width: 243px;
  font-weight: 600;
  flex-shrink: 0;
}
.berkeleyhillgmailcom1 {
  width: 205px;
  white-space: nowrap;
}
.berkeleyhillgmailcom-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  margin-left: -107px;
  color: var(--color-slategray-200);
}
.program-c2 {
  width: 252.5px;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -107px;
}
.baber-ahmed-group,
.depth-8-frame-1-inner2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.baber-ahmed-group {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-1-inner2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  min-width: 385px;
  max-width: 100%;
}
.enrolled3 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-017 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
}
.view-details10 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  flex-shrink: 0;
}
.view-details-wrapper1 {
  width: 139.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-10-frame-0-parent4,
.depth-8-frame-13 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-10-frame-0-parent4 {
  gap: var(--gap-13xl);
  margin-left: -33.9px;
}
.depth-8-frame-13 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: var(--padding-lg) var(--padding-base) var(--padding-xl);
  row-gap: 20px;
}
.amme-waghar1 {
  width: 243px;
  font-weight: 600;
  flex-shrink: 0;
}
.amme-waghar1,
.program-b1,
.seatwashing12gmailcom1 {
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.seatwashing12gmailcom1 {
  width: 205px;
  flex-shrink: 0;
  white-space: nowrap;
}
.program-b1 {
  flex: 1;
  font-weight: 500;
  color: var(--color-black);
  min-width: 52px;
}
.seatwashing12gmailcom-group {
  flex: 1;
  flex-direction: row;
  row-gap: 20px;
  margin-left: -107px;
  color: var(--color-slategray-200);
}
.amme-waghar-group,
.depth-8-frame-2-inner1,
.seatwashing12gmailcom-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.amme-waghar-group {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-2-inner1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  min-width: 385px;
}
.enrolled4 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-018 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
}
.view-details11 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  flex-shrink: 0;
}
.view-details-wrapper2 {
  width: 139.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-10-frame-0-parent5,
.depth-8-frame-23 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-10-frame-0-parent5 {
  gap: var(--gap-13xl);
  margin-left: -33.9px;
}
.depth-8-frame-23 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: var(--padding-lg) var(--padding-base) var(--padding-xl);
  row-gap: 20px;
}
.alea-george1,
.camb344gmailcom1 {
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.alea-george1 {
  width: 243px;
  font-weight: 600;
  flex-shrink: 0;
}
.camb344gmailcom1 {
  width: 205px;
  white-space: nowrap;
}
.camb344gmailcom-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  margin-left: -107px;
  color: var(--color-slategray-200);
}
.program-a3 {
  width: 252.5px;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -107px;
}
.alea-george-group,
.depth-8-frame-3-inner1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.alea-george-group {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-3-inner1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  min-width: 385px;
  max-width: 100%;
}
.pending8 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-019 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
}
.approvereject3 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  flex-shrink: 0;
}
.approvereject-frame {
  width: 139.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-10-frame-0-parent6,
.depth-8-frame-32 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-10-frame-0-parent6 {
  gap: var(--gap-13xl);
  margin-left: -33.9px;
}
.depth-8-frame-32 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: var(--padding-lg) var(--padding-base) var(--padding-xl);
  row-gap: 20px;
}
.mehdi-raza1 {
  width: 243px;
  font-weight: 600;
  flex-shrink: 0;
}
.massachusettsgmailcom1,
.mehdi-raza1,
.program-b2 {
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.massachusettsgmailcom1 {
  width: 205px;
  flex-shrink: 0;
  white-space: nowrap;
}
.program-b2 {
  flex: 1;
  font-weight: 500;
  color: var(--color-black);
  white-space: pre-wrap;
  min-width: 55px;
}
.massachusettsgmailcom-group {
  flex: 1;
  flex-direction: row;
  row-gap: 20px;
  margin-left: -107px;
  color: var(--color-slategray-200);
}
.depth-8-frame-4-child,
.massachusettsgmailcom-group,
.mehdi-raza-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.mehdi-raza-group {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-4-child {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  min-width: 385px;
}
.enrolled5 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-020 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
}
.view-details12 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  flex-shrink: 0;
}
.view-details-wrapper3 {
  width: 139.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-10-frame-0-parent7,
.depth-8-frame-42 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-10-frame-0-parent7 {
  gap: var(--gap-13xl);
  margin-left: -33.9px;
}
.depth-8-frame-42 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: var(--padding-lg) var(--padding-base) var(--padding-xl);
  row-gap: 20px;
}
.depth-5-frame-05,
.depth-8-frame-0-container {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.depth-8-frame-0-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  font-size: var(--font-size-sm);
}
.depth-5-frame-05 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 0 var(--padding-12xs-5);
  font-size: var(--font-size-base);
}
.depth-5-frame-05,
.employs-content,
.employs1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.employs-content {
  width: 928px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
.employs1 {
  width: 1164px;
  flex-direction: row;
  justify-content: center;
}
.enrolled-list {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-15xl-5) var(--padding-19xl) var(--padding-73xl);
  box-sizing: border-box;
  gap: 76.5px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1025px) {
  .programs {
    display: none;
  }
}
@media screen and (max-width: 975px) {
  .manage-employs-enrollment {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
}
@media screen and (max-width: 725px) {
  .status-options {
    flex-wrap: wrap;
  }
  .employ-details {
    min-width: 100%;
  }
  .employ-action {
    margin-left: 0;
  }
  .depth-8-frame-1-inner1 {
    min-width: 100%;
  }
  .depth-10-frame-0-parent {
    margin-left: 0;
  }
  .seatwashing12gmailcom-parent {
    flex-wrap: wrap;
  }
  .depth-8-frame-2-child {
    min-width: 100%;
  }
  .depth-10-frame-0-group {
    margin-left: 0;
  }
  .depth-8-frame-3-child {
    min-width: 100%;
  }
  .depth-10-frame-0-parent1 {
    margin-left: 0;
  }
  .massachusettsgmailcom-parent {
    flex-wrap: wrap;
  }
  .depth-8-frame-4-inner {
    min-width: 100%;
  }
  .depth-10-frame-0-parent2 {
    margin-left: 0;
  }
  .depth-8-frame-0-child {
    min-width: 100%;
  }
  .depth-10-frame-0-parent3 {
    margin-left: 0;
  }
  .depth-8-frame-1-inner2 {
    min-width: 100%;
  }
  .depth-10-frame-0-parent4 {
    margin-left: 0;
  }
  .seatwashing12gmailcom-group {
    flex-wrap: wrap;
  }
  .depth-8-frame-2-inner1 {
    min-width: 100%;
  }
  .depth-10-frame-0-parent5 {
    margin-left: 0;
  }
  .depth-8-frame-3-inner1 {
    min-width: 100%;
  }
  .depth-10-frame-0-parent6 {
    margin-left: 0;
  }
  .massachusettsgmailcom-group {
    flex-wrap: wrap;
  }
  .depth-8-frame-4-child {
    min-width: 100%;
  }
  .depth-10-frame-0-parent7 {
    margin-left: 0;
  }
  .enrolled-list {
    gap: var(--gap-19xl);
  }
}
@media screen and (max-width: 450px) {
  .manage-employs-enrollment {
    font-size: var(--font-size-5xl);
    line-height: 24px;
  }
  .depth-10-frame-0-group,
  .depth-10-frame-0-parent,
  .depth-10-frame-0-parent1,
  .depth-10-frame-0-parent2,
  .depth-10-frame-0-parent3,
  .depth-10-frame-0-parent4,
  .depth-10-frame-0-parent5,
  .depth-10-frame-0-parent6,
  .depth-10-frame-0-parent7,
  .employ-action {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
  .enrolled-list {
    gap: var(--gap-lgi);
  }
}
