.depth-7-frame-089 {
  height: 13.3px;
  width: 13.3px;
  display: none;
}
.vector-039,
.vector-040 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-7-frame-090 {
  position: absolute;
  top: -21045.3px;
  left: -3205px;
  width: 13.3px;
  height: 13.3px;
  display: none;
}
.depth-6-frame-060 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.depth-6-frame-059,
.nested-container1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-059 {
  overflow: hidden;
  flex-direction: row;
}
.nested-container1 {
  flex-direction: column;
  padding: var(--padding-9xs-3) 0 0;
}
.educhain19,
.educhain20 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.27px;
  line-height: 23px;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  min-width: 99px;
  white-space: nowrap;
}
.educhain20 {
  cursor: pointer;
  z-index: 1;
  margin-left: -99px;
}
.educhain-parent {
  flex-direction: row;
}
.educhain-parent,
.inner-container,
.nested-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nested-container {
  flex-direction: row;
  gap: var(--gap-base);
}
.inner-container {
  flex-direction: column;
  padding: var(--padding-5xs-5) var(--padding-smi) 0 0;
}
.dashboard8,
.dashboard9 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 89px;
}
.dashboard9 {
  cursor: pointer;
  z-index: 1;
  margin-left: -89px;
}
.option-container,
.option-elements {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.option-container {
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-4xs) 0 0;
}
.accreditation7,
.accreditation8 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 113px;
}
.accreditation8 {
  cursor: pointer;
  z-index: 1;
  margin-left: -113px;
}
.accreditation-parent,
.option-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.option-container1 {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.certificate14,
.certificate15 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 90px;
}
.certificate15 {
  cursor: pointer;
  z-index: 1;
  margin-left: -90px;
}
.nested-option-container,
.nested-option-elements {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nested-option-container {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.enrollment-container-child {
  height: 40px;
  width: 125px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  display: none;
}
.enrollment4 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 90px;
  z-index: 3;
}
.enrollment-container {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base) var(--padding-3xs);
  z-index: 2;
}
.documents4,
.documents5 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 93px;
  cursor: pointer;
}
.documents5 {
  z-index: 1;
  margin-left: -93px;
}
.certificate-documents-containe,
.documents-parent,
.nested-option-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.certificate-documents-containe,
.nested-option-container1 {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.certificate-documents-containe {
  flex: 1;
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 0;
  box-sizing: border-box;
  gap: var(--gap-base-5);
  max-width: 100%;
}
.verification19,
.verification20 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 96px;
}
.verification20 {
  cursor: pointer;
  z-index: 1;
  margin-left: -96px;
}
.option-container2,
.verification-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.option-container2 {
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-7xs) 0 0;
}
.edit-profile15,
.edit-profile16 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 91px;
  white-space: nowrap;
}
.edit-profile16 {
  cursor: pointer;
  z-index: 1;
  margin-left: -91px;
}
.edit-profile-parent {
  flex-direction: row;
}
.dashboard-accreditation-contai,
.edit-profile-parent,
.option-container3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.option-container3 {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.dashboard-accreditation-contai {
  width: 846px;
  flex-direction: row;
  gap: var(--gap-3xl);
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.depth-5-frame-128 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.depth-5-frame-129 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-xs);
  z-index: 1;
}
.depth-5-frame-1-parent,
.depth-nested-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-1-parent {
  flex-direction: row;
  position: relative;
}
.depth-nested-container {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.depth-4-frame-214,
.depth-4-frame-215 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.depth-4-frame-215 {
  z-index: 1;
}
.depth-4-frame-2-parent {
  height: 40px;
  width: 40px;
  position: relative;
}
.depth-nested-container-parent,
.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.main-container {
  gap: var(--gap-31xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
.insti-enrolled-list-child {
  width: 113px;
  height: 1px;
  position: absolute;
  margin: 0 !important;
  top: 346.9px;
  left: 200px;
  object-fit: contain;
  z-index: 1;
}
.insti-enrolled-list-item {
  width: 125px;
  height: 40px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  display: none;
  z-index: 2;
}
.enrollment5 {
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  display: none;
  min-width: 90px;
  z-index: 3;
}
.manage-student-enrollment {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.8px;
  line-height: 40px;
  font-weight: 800;
  font-family: inherit;
}
.enrollment-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.add-students {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  display: inline-block;
  font-family: var(--font-manrope);
  color: var(--color-white);
  text-align: left;
  min-width: 93px;
}
.button10,
.enrollment-management {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-4xl);
  background-color: #328eea;
  border-radius: var(--br-xs);
  overflow: hidden;
  justify-content: flex-start;
  white-space: nowrap;
}
.button10:hover {
  background-color: #4da8ff;
}
.enrollment-management {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 0 11.8px;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.depth-7-frame-091 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.search-for-students {
  width: 148px;
  border: 0;
  outline: 0;
  font-family: var(--font-manrope);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.depth-5-frame-020,
.search-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.depth-5-frame-020 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke-200);
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
}
.search-container1 {
  align-self: stretch;
  padding: 0 0 var(--padding-8xs-2);
}
.all103873 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 90px;
}
.all-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.enrolled33871,
.pending63873 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  color: var(--color-dimgray-300);
  min-width: 128px;
}
.pending63873 {
  letter-spacing: -0.8px;
  color: var(--color-dimgray-100);
  min-width: 118px;
}
.filter-options,
.status-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.status-filter {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.filter-options {
  width: 461px;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.filter-separator-icon {
  align-self: stretch;
  height: 4px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.filter-container,
.filter-elements {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.filter-elements {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.filter-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--font-size-mid);
}
.names1 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.depth-10-frame-042,
.depth-9-frame-030 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-042 {
  align-self: stretch;
}
.depth-9-frame-030 {
  width: 275px;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-base) var(--padding-smi-5);
  box-sizing: border-box;
}
.email6 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.depth-10-frame-043,
.depth-9-frame-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-043 {
  align-self: stretch;
}
.depth-9-frame-11 {
  width: 284.5px;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-base) var(--padding-smi-5);
  box-sizing: border-box;
}
.status4 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.depth-10-frame-044,
.depth-9-frame-22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-044 {
  align-self: stretch;
}
.depth-9-frame-22 {
  width: 195.2px;
  flex-shrink: 0;
  padding: var(--padding-xs) var(--padding-base) var(--padding-smi-5);
  box-sizing: border-box;
}
.actions2 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
}
.depth-10-frame-045 {
  align-self: stretch;
  flex-direction: column;
}
.depth-10-frame-045,
.depth-8-frame-071,
.depth-9-frame-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-3 {
  width: 171.2px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base) var(--padding-smi-5);
  box-sizing: border-box;
  color: var(--color-black);
}
.depth-8-frame-071 {
  background-color: var(--color-whitesmoke-200);
  overflow-x: auto;
  flex-direction: row;
  font-size: var(--font-size-base);
}
.ali-akther2 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.depth-10-frame-046 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-031 {
  width: 275px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
}
.alialigmailcom2 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  white-space: nowrap;
}
.depth-10-frame-047 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-12 {
  width: 284.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.pending14 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-048,
.depth-9-frame-23 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.depth-10-frame-048 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
}
.depth-9-frame-23 {
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
}
.approvereject4 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-10-frame-049 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-31 {
  width: 171.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-072 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.baber-ahmed2 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.depth-10-frame-050 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-032 {
  width: 275px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
}
.berkeleyhillgmailcom2 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  white-space: nowrap;
}
.depth-10-frame-051 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-13 {
  width: 284.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.enrolled6 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-052,
.depth-9-frame-24 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.depth-10-frame-052 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
}
.depth-9-frame-24 {
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
}
.view-details13 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-10-frame-053 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-32 {
  width: 171.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-111 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.amme-waghar2 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.depth-10-frame-054 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-033 {
  width: 275px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
}
.seatwashing12gmailcom2 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  white-space: nowrap;
}
.depth-10-frame-055 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-14 {
  width: 284.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.enrolled7 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-056,
.depth-9-frame-25 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.depth-10-frame-056 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
}
.depth-9-frame-25 {
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
}
.view-details14 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-10-frame-057 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-33 {
  width: 171.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-28 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.alea-george2 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.depth-10-frame-058 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-034 {
  width: 275px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
}
.camb344gmailcom2 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  white-space: nowrap;
}
.depth-10-frame-059 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-15 {
  width: 284.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.pending15 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-060,
.depth-9-frame-26 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.depth-10-frame-060 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
}
.depth-9-frame-26 {
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
}
.approvereject5 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-10-frame-061 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-34 {
  width: 171.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-36 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.mehdi-raza2 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.depth-10-frame-062 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-035 {
  width: 275px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
}
.massachusettsgmailcom2 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  white-space: nowrap;
}
.depth-10-frame-063 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-16 {
  width: 284.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.enrolled8 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-064,
.depth-9-frame-27 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.depth-10-frame-064 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
}
.depth-9-frame-27 {
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
}
.view-details15 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-10-frame-065 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-35 {
  width: 171.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-0-parent9,
.depth-8-frame-46 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-8-frame-46 {
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  flex-direction: row;
}
.depth-8-frame-0-parent9 {
  flex-direction: column;
}
.ali-akther3 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.depth-10-frame-066 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-036 {
  width: 275px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
}
.alialigmailcom3 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  white-space: nowrap;
}
.depth-10-frame-067 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-17 {
  width: 284.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.pending16 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-068,
.depth-9-frame-28 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.depth-10-frame-068 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
}
.depth-9-frame-28 {
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
}
.approvereject6 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-10-frame-069 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-36 {
  width: 171.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-073 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.baber-ahmed3 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.depth-10-frame-070 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-037 {
  width: 275px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
}
.berkeleyhillgmailcom3 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  white-space: nowrap;
}
.depth-10-frame-071 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-18 {
  width: 284.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.enrolled9 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-072,
.depth-9-frame-29 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.depth-10-frame-072 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
}
.depth-9-frame-29 {
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
}
.view-details16 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-10-frame-073 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-37 {
  width: 171.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-112 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.amme-waghar3 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.depth-10-frame-074 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-038 {
  width: 275px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
}
.seatwashing12gmailcom3 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  white-space: nowrap;
}
.depth-10-frame-075 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-19 {
  width: 284.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.enrolled10 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-076,
.depth-9-frame-210 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.depth-10-frame-076 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
}
.depth-9-frame-210 {
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
}
.view-details17 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-10-frame-077 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-38 {
  width: 171.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-29 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.alea-george3 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.depth-10-frame-078 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-039 {
  width: 275px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
}
.camb344gmailcom3 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  white-space: nowrap;
}
.depth-10-frame-079 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-110 {
  width: 284.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.pending17 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-080,
.depth-9-frame-211 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.depth-10-frame-080 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
}
.depth-9-frame-211 {
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
}
.approvereject7 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-10-frame-081 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-39 {
  width: 171.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-37 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.mehdi-raza3 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.depth-10-frame-082 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-040 {
  width: 275px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
}
.massachusettsgmailcom3 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  white-space: nowrap;
}
.depth-10-frame-083 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-111 {
  width: 284.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.enrolled11 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-084,
.depth-9-frame-212 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.depth-10-frame-084 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
}
.depth-9-frame-212 {
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base);
}
.view-details18 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-10-frame-085 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-310 {
  width: 171.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl-5) var(--padding-base);
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-5-frame-021,
.depth-8-frame-0-parent10,
.depth-8-frame-47 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-8-frame-47 {
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  flex-direction: row;
}
.depth-5-frame-021,
.depth-8-frame-0-parent10 {
  flex-direction: column;
}
.depth-5-frame-021 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  padding: 0 0 var(--padding-12xs-5);
  font-size: var(--font-size-sm);
}
.nested-management,
.nested-management-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.nested-management {
  width: 928px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
.nested-management-wrapper {
  width: 1164px;
  flex-direction: row;
  justify-content: center;
}
.insti-enrolled-list {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-15xl-5) var(--padding-19xl) var(--padding-73xl);
  box-sizing: border-box;
  gap: 72.5px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 1050px) {
  .educhain-parent {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .manage-student-enrollment {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
  .enrollment-management {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 725px) {
  .accreditation-parent,
  .nested-option-elements,
  .option-elements {
    display: none;
  }
  .main-container {
    gap: var(--gap-6xl);
  }
  .status-filter {
    flex-wrap: wrap;
  }
  .insti-enrolled-list {
    gap: var(--gap-17xl);
  }
}
@media screen and (max-width: 450px) {
  .manage-student-enrollment {
    font-size: var(--font-size-5xl);
    line-height: 24px;
  }
  .insti-enrolled-list {
    gap: var(--gap-lg);
  }
}
