.depth-7-frame-065,
.logo-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-7-frame-065 {
  width: 13.3px;
  height: 13.3px;
  display: none;
}
.depth-6-frame-048 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-placeholder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs-8) var(--padding-9xs) 0 0;
}
.educhain16 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.27px;
  line-height: 23px;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  min-width: 99px;
  white-space: nowrap;
}
.menu1 {
  width: 131px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-400);
}
.page-title-child {
  height: 40px;
  width: 125px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  display: none;
}
.dashboard5 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 89px;
  z-index: 1;
}
.page-title {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-mid) var(--padding-3xs)
    var(--padding-lgi);
  background-color: var(--color-aliceblue-500);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.page-title:hover {
  background-color: var(--color-lightgray-100);
}
.accreditation2,
.certificate10 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 113px;
  cursor: pointer;
}
.certificate10 {
  min-width: 90px;
}
.accreditation-content,
.accreditation1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.accreditation-content {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-3xl);
}
.accreditation1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs-5) var(--padding-xl) 0 0;
}
.enrollment1 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 90px;
  cursor: pointer;
}
.menu2 {
  width: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.documents1 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 93px;
  cursor: pointer;
}
.menu3 {
  width: 116px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.verification16 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 96px;
}
.menu4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-base) 0 0;
}
.edit-profile12 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 91px;
  white-space: nowrap;
}
.menu5 {
  width: 129px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.depth-5-frame-123 {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: var(--br-xs);
}
.placeholder-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.depth-4-frame-211 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.navigation3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 23.5px 0;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-manrope);
}
.today-summary3,
.xyz-institude3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.xyz-institude3 {
  letter-spacing: -0.8px;
  line-height: 40px;
}
.today-summary3 {
  line-height: 21px;
}
.new-students1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 105px;
}
.depth-7-frame-066 {
  padding: 0 var(--padding-xl) 0 0;
}
.depth-6-frame-049,
.depth-7-frame-066 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.value-placeholder-one {
  position: relative;
  letter-spacing: -0.6px;
  line-height: 30px;
  display: inline-block;
  min-width: 52px;
  white-space: nowrap;
}
.depth-6-frame-125,
.depth-7-frame-067 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-7-frame-067 {
  padding: 0 var(--padding-xl) 0 0;
}
.depth-6-frame-125 {
  font-size: var(--font-size-5xl);
}
.value-placeholder-two {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 43px;
}
.depth-7-frame-068 {
  align-self: stretch;
  padding: 0 var(--padding-xl) 0 0;
}
.depth-5-frame-015,
.depth-6-frame-2,
.depth-7-frame-068 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-2 {
  align-self: stretch;
  color: var(--color-forestgreen);
}
.depth-5-frame-015 {
  flex: 1;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  padding: var(--padding-3xl) var(--padding-16xl) var(--padding-29xl)
    var(--padding-5xl);
  gap: var(--gap-5xs);
  min-width: 175px;
  max-width: 221px;
  min-height: 168px;
}
.new-certificates-issued {
  width: 126px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.depth-6-frame-050,
.depth-7-frame-069 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.depth-6-frame-050 {
  padding: 0 0 var(--padding-5xl);
}
.b15 {
  position: relative;
  letter-spacing: -0.6px;
  line-height: 30px;
  display: inline-block;
  min-width: 58px;
  white-space: nowrap;
}
.depth-6-frame-126,
.depth-7-frame-070 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-7-frame-070 {
  padding: 0 var(--padding-xl) 0 0;
}
.depth-6-frame-126 {
  font-size: var(--font-size-5xl);
}
.div30 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 43px;
}
.depth-7-frame-071 {
  align-self: stretch;
  padding: 0 var(--padding-xl) 0 0;
}
.depth-5-frame-124,
.depth-6-frame-21,
.depth-7-frame-071 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-21 {
  align-self: stretch;
  color: var(--color-forestgreen);
}
.depth-5-frame-124 {
  flex: 1;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  padding: var(--padding-3xl) var(--padding-16xl) var(--padding-5xl)
    var(--padding-5xl);
  gap: var(--gap-5xs);
  min-width: 175px;
  max-width: 221px;
}
.new-accreditation {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.depth-7-frame-072 {
  padding: 0 var(--padding-xl) 0 0;
}
.depth-6-frame-051,
.depth-7-frame-072 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.b16 {
  position: relative;
  letter-spacing: -0.6px;
  line-height: 30px;
  display: inline-block;
  min-width: 27px;
}
.depth-6-frame-127,
.depth-7-frame-073 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-7-frame-073 {
  padding: 0 var(--padding-xl) 0 0;
}
.depth-6-frame-127 {
  font-size: var(--font-size-5xl);
}
.div31 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 33px;
}
.depth-7-frame-074 {
  align-self: stretch;
  padding: 0 var(--padding-xl) 0 0;
}
.depth-5-frame-210,
.depth-6-frame-22,
.depth-7-frame-074 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-22 {
  align-self: stretch;
  color: var(--color-forestgreen);
}
.depth-5-frame-210 {
  flex: 1;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  padding: var(--padding-3xl) var(--padding-16xl) var(--padding-29xl)
    var(--padding-5xl);
  gap: var(--gap-5xs);
  min-width: 175px;
  max-width: 221px;
  min-height: 168px;
}
.new-certificate-verification {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.depth-7-frame-075 {
  padding: 0 var(--padding-3xs) 0 0;
}
.depth-6-frame-052,
.depth-7-frame-075 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.b17 {
  position: relative;
  letter-spacing: -0.6px;
  line-height: 30px;
  display: inline-block;
  min-width: 57px;
  white-space: nowrap;
}
.depth-6-frame-128,
.depth-7-frame-076 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-7-frame-076 {
  padding: 0 var(--padding-xl) 0 0;
}
.depth-6-frame-128 {
  font-size: var(--font-size-5xl);
}
.div32 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
}
.depth-7-frame-077 {
  align-self: stretch;
  padding: 0 var(--padding-xl) 0 0;
}
.depth-5-frame-312,
.depth-6-frame-23,
.depth-7-frame-077 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-23 {
  align-self: stretch;
  color: var(--color-forestgreen);
}
.depth-5-frame-312 {
  flex: 1;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  padding: var(--padding-3xl) var(--padding-16xl) var(--padding-5xl)
    var(--padding-5xl);
  gap: var(--gap-5xs);
  min-width: 175px;
  max-width: 221px;
}
.summary-content1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-mid);
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
}
.summary,
.today-summary2 {
  justify-content: flex-start;
}
.today-summary2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.summary {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
}
.institution,
.institution-name,
.summary {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.institution-name {
  width: 937px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.institution {
  width: 1165px;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-27xl);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
.your-programs1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.27px;
  line-height: 23px;
  font-weight: 800;
  font-family: inherit;
}
.depth-7-frame-078 {
  width: 213.3px;
  height: 213.3px;
  position: relative;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.depth-6-frame-053 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.business-administration2 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.depth-7-frame-079 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
}
.students8 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
}
.depth-7-frame-121 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.revenue4 {
  position: relative;
  line-height: 21px;
}
.depth-7-frame-214,
.revenue4 {
  align-self: stretch;
}
.depth-5-frame-016,
.depth-6-frame-129,
.depth-7-frame-214 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-129 {
  align-self: stretch;
  padding: 0 0 var(--padding-xs);
}
.depth-5-frame-016 {
  padding: 0 var(--padding-3xs) var(--padding-12xs-7) 0;
  gap: var(--gap-xs);
}
.depth-7-frame-080 {
  width: 213.3px;
  height: 213.3px;
  position: relative;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.depth-6-frame-054 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.computer-science3 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.depth-7-frame-081 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
}
.students9 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
}
.depth-7-frame-122 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.revenue5 {
  position: relative;
  line-height: 21px;
}
.depth-7-frame-215,
.revenue5 {
  align-self: stretch;
}
.depth-5-frame-125,
.depth-6-frame-130,
.depth-7-frame-215 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-130 {
  align-self: stretch;
  padding: 0 0 var(--padding-xs);
}
.depth-5-frame-125 {
  padding: 0 var(--padding-3xs) var(--padding-12xs-7) 0;
  gap: var(--gap-xs);
}
.depth-7-frame-082 {
  width: 213.3px;
  height: 213.3px;
  position: relative;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.depth-6-frame-055 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.data-science6 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.depth-7-frame-083 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
}
.students10 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
}
.depth-7-frame-123 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.revenue6 {
  position: relative;
  line-height: 21px;
}
.depth-7-frame-216,
.revenue6 {
  align-self: stretch;
}
.depth-5-frame-211,
.depth-6-frame-131,
.depth-7-frame-216 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-131 {
  align-self: stretch;
  padding: 0 0 var(--padding-xs);
}
.depth-5-frame-211 {
  padding: 0 var(--padding-3xs) var(--padding-12xs-7) 0;
  gap: var(--gap-xs);
}
.depth-7-frame-084 {
  width: 213.3px;
  height: 213.3px;
  position: relative;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.depth-6-frame-056 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.software-engineering4 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.depth-7-frame-085 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
}
.students11 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
}
.depth-7-frame-124 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.revenue7 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
}
.depth-6-frame-132,
.depth-7-frame-217 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.depth-7-frame-217 {
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-6-frame-132 {
  padding: 0 0 var(--padding-xs);
}
.depth-5-frame-313,
.depth-6-frame-132,
.programs-content {
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-313 {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-3xs) var(--padding-12xs-7) 0;
  gap: var(--gap-xs);
}
.programs-content {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  gap: var(--gap-sm-3);
  grid-template-columns: repeat(4, minmax(168px, 1fr));
  font-size: var(--font-size-sm);
  color: var(--color-slategray-200);
}
.programs-list {
  width: 936px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: 100%;
}
.institude-dashboard,
.programs-list,
.programs1 {
  display: flex;
  align-items: flex-start;
}
.programs1 {
  width: 1168px;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
.institude-dashboard {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-15xl-5) var(--padding-19xl) var(--padding-76xl)
    var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-29xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 925px) {
  .accreditation-content {
    display: none;
  }
  .xyz-institude3 {
    font-size: var(--font-size-18xl);
    line-height: 32px;
  }
  .programs-content {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(168px, 291px));
  }
}
@media screen and (max-width: 700px) {
  .today-summary2 {
    gap: var(--gap-base);
  }
  .institution-name {
    gap: var(--gap-lg);
  }
  .institude-dashboard {
    gap: var(--gap-5xl);
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .xyz-institude3 {
    font-size: var(--font-size-9xl);
    line-height: 24px;
  }
  .today-summary3 {
    font-size: var(--font-size-2xl);
    line-height: 17px;
  }
  .b15,
  .b16,
  .b17,
  .value-placeholder-one {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .your-programs1 {
    font-size: var(--font-size-2xl);
    line-height: 18px;
  }
  .programs-content {
    grid-template-columns: minmax(168px, 1fr);
  }
}
