.depth-7-frame-093,
.vector-042 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-7-frame-093 {
  width: 13.3px;
  height: 13.3px;
  display: none;
}
.depth-6-frame-062 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-6-frame-0-wrapper18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-3) 0 0;
}
.educhain22 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.27px;
  line-height: 23px;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  min-width: 99px;
  white-space: nowrap;
}
.frame-parent102,
.frame-wrapper33 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent102 {
  flex-direction: row;
  gap: var(--gap-base);
}
.frame-wrapper33 {
  flex-direction: column;
  padding: var(--padding-5xs-5) var(--padding-smi) 0 0;
}
.dashboard11 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 89px;
  cursor: pointer;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.accreditation10,
.certificate17 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 113px;
  cursor: pointer;
}
.certificate17 {
  min-width: 90px;
}
.certificate-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.enrollment7 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 90px;
  cursor: pointer;
}
.accreditation-enrollment,
.accreditation-enrollment-wrapper {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.accreditation-enrollment {
  flex-direction: row;
  gap: var(--gap-3xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-manrope);
}
.accreditation-enrollment-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-8xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.documents7 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 93px;
  cursor: pointer;
}
.document-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.frame-child36 {
  height: 40px;
  width: 125px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  display: none;
}
.verification22 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 96px;
  z-index: 1;
}
.rectangle-parent19 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xs) var(--padding-3xs)
    var(--padding-mid);
}
.edit-profile18 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 91px;
  white-space: nowrap;
  cursor: pointer;
}
.document-profile-parent,
.document-profile1,
.frame-parent103 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.document-profile1 {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.document-profile-parent,
.frame-parent103 {
  flex-direction: row;
  max-width: 100%;
}
.document-profile-parent {
  flex: 1;
  gap: var(--gap-mid);
}
.frame-parent103 {
  width: 846px;
  gap: var(--gap-12xl);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.depth-5-frame-131 {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: var(--br-xs);
}
.depth-5-frame-1-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.depth-4-frame-217 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-parent101,
.frame-parent104 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-parent101 {
  gap: var(--gap-31xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
.certificate-verification3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.8px;
  line-height: 40px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.depth-7-frame-094 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.search-for-certificate2 {
  width: 222px;
  border: 0;
  outline: 0;
  font-family: var(--font-manrope);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.certificate-verification-container,
.depth-5-frame-132 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-132 {
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
}
.certificate-verification-container {
  flex-direction: column;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.all103874 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 90px;
}
.all10387-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
}
.pending63874,
.verified33871 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  color: var(--color-dimgray-300);
  min-width: 123px;
}
.pending63874 {
  letter-spacing: -0.8px;
  color: var(--color-dimgray-100);
  min-width: 118px;
}
.frame-parent107 {
  width: 437px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-mid);
}
.frame-child37 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -2px;
}
.frame-parent106 {
  width: 935px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid-5);
  max-width: 100%;
}
.certificate-id5,
.id2,
.name3 {
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.id2 {
  width: 113px;
  color: var(--color-black);
  flex-shrink: 0;
}
.certificate-id5,
.name3 {
  font-weight: 600;
}
.name3 {
  width: 184px;
  flex-shrink: 0;
}
.certificate-id5 {
  margin-right: -16.5px;
  width: 252.5px;
}
.detail-headers {
  width: 236px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.depth-9-frame-213 {
  height: 45.5px;
  width: 195.2px;
  flex-shrink: 0;
  display: none;
}
.status5 {
  width: 163.2px;
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.detail-headers1 {
  width: 204px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.depth-9-frame-47 {
  height: 45.5px;
  width: 171.2px;
  flex-shrink: 0;
  display: none;
}
.date1 {
  width: 139.2px;
  position: relative;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.depth-10-frame-086,
.depth-8-frame-074 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
}
.depth-10-frame-086 {
  width: 139.2px;
  padding: 0 0 0 var(--padding-base);
  z-index: 4;
  color: var(--color-black);
}
.depth-8-frame-074 {
  margin-right: -122px;
  width: 1053px;
  background-color: var(--color-whitesmoke-200);
  overflow-x: auto;
  padding: var(--padding-xs) var(--padding-4xl) var(--padding-smi);
  max-width: 114%;
  font-size: var(--font-size-base);
}
.ali-raza4,
.div44 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
}
.div44 {
  width: 122px;
  flex-shrink: 0;
}
.ali-raza4 {
  flex: 1;
  min-width: 40px;
}
.verification-item-info,
.verification-item-names {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.verification-item-names {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.verification-item-info {
  width: 365px;
  flex-direction: column;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
}
.div45 {
  width: 227.6px;
  position: relative;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.verification-item-status {
  width: 292.6px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  margin-left: -65px;
  color: var(--color-slategray-200);
}
.pending18 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-0-wrapper5,
.depth-10-frame-087 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-087 {
  border-radius: var(--br-xs);
  background-color: var(--color-lightsteelblue-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
}
.depth-10-frame-0-wrapper5 {
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
}
.b26 {
  width: 139.2px;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.depth-9-frame-48 {
  width: 171.2px;
  padding: var(--padding-6xl-5) 0 var(--padding-6xl-5) var(--padding-53xl);
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 1;
  text-align: left;
  color: var(--color-slategray-200);
}
.depth-8-frame-075,
.depth-9-frame-48,
.verification-item-date {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.verification-item-date {
  gap: var(--gap-lg);
  flex-shrink: 0;
  margin-left: -65px;
  text-align: center;
}
.depth-8-frame-075 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  padding: 0 var(--padding-mini);
}
.div46,
.sara-ahmed2 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
}
.div46 {
  width: 122px;
  flex-shrink: 0;
}
.sara-ahmed2 {
  flex: 1;
  min-width: 60px;
}
.depth-8-frame-1-inner3,
.parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent2 {
  align-self: stretch;
  flex-direction: row;
  flex-shrink: 0;
  row-gap: 20px;
}
.depth-8-frame-1-inner3 {
  width: 365px;
  flex-direction: column;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.div47 {
  width: 227.6px;
  position: relative;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.wrapper17 {
  width: 292.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  margin-left: -65px;
  color: var(--color-slategray-200);
}
.pending19 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-0-wrapper6,
.depth-10-frame-088 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-088 {
  border-radius: var(--br-xs);
  background-color: var(--color-lightsteelblue-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
}
.depth-10-frame-0-wrapper6 {
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
}
.b27 {
  width: 139.2px;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.depth-9-frame-49,
.frame-parent108 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.depth-9-frame-49 {
  width: 171.2px;
  padding: var(--padding-6xl-5) 0 var(--padding-6xl-5) var(--padding-53xl);
  box-sizing: border-box;
  z-index: 1;
  text-align: left;
  color: var(--color-slategray-200);
}
.frame-parent108 {
  gap: var(--gap-lg);
  max-width: 100%;
  margin-left: -65px;
  text-align: center;
}
.div48,
.div49,
.div50,
.div51,
.div52,
.div53,
.div54,
.div55 {
  width: 243px;
  position: absolute;
  margin: 0 !important;
  bottom: -47px;
  left: 14px;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
}
.div49,
.div50,
.div51,
.div52,
.div53,
.div54,
.div55 {
  bottom: -120px;
}
.div50,
.div51,
.div52,
.div53,
.div54,
.div55 {
  bottom: -193px;
}
.div51,
.div52,
.div53,
.div54,
.div55 {
  bottom: -262px;
}
.div52,
.div53,
.div54,
.div55 {
  bottom: -334px;
}
.div53,
.div54,
.div55 {
  bottom: -406px;
}
.div54,
.div55 {
  bottom: -478px;
}
.div55 {
  bottom: -550px;
}
.dawwod2,
.depth-8-frame-113 {
  align-self: stretch;
  position: relative;
}
.depth-8-frame-113 {
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm);
  row-gap: 20px;
  max-width: 100%;
}
.dawwod2 {
  line-height: 21px;
  font-weight: 600;
}
.dawwod-frame {
  width: 178px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-5) 0 0;
  box-sizing: border-box;
}
.div56 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
}
.wrapper18 {
  width: 227.6px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.pending20 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-0-wrapper7,
.depth-10-frame-089 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-089 {
  border-radius: var(--br-xs);
  background-color: var(--color-lightsteelblue-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
}
.depth-10-frame-0-wrapper7 {
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
}
.b28 {
  width: 139.2px;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.depth-9-frame-410 {
  width: 171.2px;
  padding: var(--padding-6xl-5) 0 var(--padding-6xl-5) var(--padding-43xl);
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 1;
  text-align: left;
  color: var(--color-slategray-200);
}
.depth-8-frame-210,
.depth-9-frame-410,
.frame-parent109 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent109 {
  flex-wrap: wrap;
  gap: var(--gap-9xl-2);
  text-align: center;
}
.depth-8-frame-210 {
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  padding: 0 var(--padding-7xl) 0 var(--padding-117xl);
}
.elii-clooney2,
.user-status {
  position: relative;
  line-height: 21px;
}
.elii-clooney2 {
  flex: 1;
  font-weight: 600;
}
.user-status {
  width: 227.6px;
  color: var(--color-slategray-200);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -65px;
}
.content-details,
.item-content-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-details {
  align-self: stretch;
  flex-direction: row;
}
.item-content-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xl-5) 0 0;
  box-sizing: border-box;
  min-width: 264px;
  max-width: 100%;
}
.pending21 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-090,
.verification-date-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-090 {
  border-radius: var(--br-xs);
  background-color: var(--color-lightsteelblue-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  flex-shrink: 0;
  z-index: 1;
}
.verification-date-container {
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
}
.e1 {
  width: 139.2px;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.depth-9-frame-411 {
  width: 171.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-5) 0 var(--padding-6xl-5) var(--padding-47xl);
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 2;
  text-align: left;
  color: var(--color-slategray-200);
}
.verification-date-container-parent {
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: center;
}
.item-content-container-parent,
.verification-date-container-parent,
.verification-item-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.item-content-container-parent {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 20px;
}
.verification-item-content {
  width: 832px;
  justify-content: flex-end;
  padding: 0 var(--padding-18xl);
  box-sizing: border-box;
}
.ali-raza5 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.ali-raza-frame {
  width: 243px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.div57 {
  width: 227.5px;
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.wrapper19 {
  width: 292.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  margin-left: -65px;
  color: var(--color-slategray-200);
}
.verified5 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 51px;
}
.depth-10-frame-0-wrapper8,
.depth-10-frame-091 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-091 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-37xl);
}
.depth-10-frame-0-wrapper8 {
  width: 336.3px;
  flex-shrink: 0;
  flex-direction: column;
  margin-left: -65px;
  text-align: center;
}
.b29 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-8-frame-076,
.wrapper20 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper20 {
  width: 139.2px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  margin-left: -65px;
  color: var(--color-slategray-200);
}
.depth-8-frame-076 {
  position: absolute;
  top: 71.5px;
  left: 0;
  border-top: 1px solid var(--color-gainsboro-100);
  width: 100%;
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-base) var(--padding-xl);
  max-width: 100%;
}
.cuci-hitler2 {
  position: absolute;
  top: 25.5px;
  left: 28.8px;
  font-weight: 600;
  width: 243px;
}
.cuci-hitler2,
.div58,
.pending22 {
  line-height: 21px;
  display: inline-block;
}
.div58 {
  position: absolute;
  top: 25.5px;
  left: 206.8px;
  color: var(--color-slategray-200);
  width: 227.6px;
  z-index: 1;
}
.pending22 {
  position: relative;
  font-weight: 600;
  min-width: 55px;
}
.depth-10-frame-092 {
  position: absolute;
  top: 20px;
  left: 434.4px;
  border-radius: var(--br-xs);
  background-color: var(--color-lightsteelblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  z-index: 2;
  text-align: center;
}
.b30 {
  width: 139.2px;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.depth-9-frame-412 {
  position: absolute;
  top: 0;
  left: 615.6px;
  width: 171.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-5) 0 var(--padding-6xl-5) var(--padding-53xl);
  box-sizing: border-box;
  z-index: 3;
  color: var(--color-slategray-200);
}
.depth-8-frame-0-parent11 {
  width: 821.8px;
  height: 143.5px;
  position: relative;
  max-width: 100%;
}
.ali-gul-pir2,
.div59 {
  position: relative;
  line-height: 21px;
}
.ali-gul-pir2 {
  flex: 1;
  font-weight: 600;
}
.div59 {
  width: 227.6px;
  color: var(--color-slategray-200);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -65px;
}
.ali-gul-pir-group,
.depth-8-frame-1-inner4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ali-gul-pir-group {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-1-inner4 {
  width: 405.6px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.verified6 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 51px;
}
.depth-10-frame-0-wrapper9,
.depth-10-frame-093 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-093 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-37xl);
}
.depth-10-frame-0-wrapper9 {
  width: 261.4px;
  flex-shrink: 0;
  flex-direction: column;
  text-align: center;
}
.b31 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-8-frame-114,
.wrapper21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper21 {
  width: 139.2px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-114 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-119xl) var(--padding-xl);
}
.ali-sheikh2,
.div60 {
  position: relative;
  line-height: 21px;
}
.ali-sheikh2 {
  flex: 1;
  font-weight: 600;
}
.div60 {
  width: 227.6px;
  color: var(--color-slategray-200);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -65px;
}
.ali-sheikh-group,
.depth-8-frame-2-inner2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ali-sheikh-group {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-2-inner2 {
  width: 405.6px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.verified7 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 51px;
}
.depth-10-frame-0-wrapper10,
.depth-10-frame-094 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-094 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-37xl);
}
.depth-10-frame-0-wrapper10 {
  width: 261.4px;
  flex-shrink: 0;
  flex-direction: column;
  text-align: center;
}
.b32 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-8-frame-211,
.wrapper22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper22 {
  width: 139.2px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-211 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-118xl) var(--padding-xl);
}
.ali-ahmed2,
.div61 {
  position: relative;
  line-height: 21px;
}
.ali-ahmed2 {
  flex: 1;
  font-weight: 600;
}
.div61 {
  width: 227.6px;
  color: var(--color-slategray-200);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -65px;
}
.ali-ahmed-group,
.depth-8-frame-3-inner2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ali-ahmed-group {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-3-inner2 {
  width: 405.6px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.verified8 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 51px;
}
.depth-10-frame-0-wrapper11,
.depth-10-frame-095 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-095 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-37xl);
}
.depth-10-frame-0-wrapper11 {
  width: 261.4px;
  flex-shrink: 0;
  flex-direction: column;
  text-align: center;
}
.b33 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-8-frame-38,
.wrapper23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper23 {
  width: 139.2px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-38 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-118xl) var(--padding-xl);
}
.fizaa-ali2 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.fizaa-ali-frame {
  width: 243px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.div62 {
  width: 227.6px;
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.wrapper24 {
  width: 292.6px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  margin-left: -65px;
  color: var(--color-slategray-200);
}
.verified9 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 51px;
}
.depth-10-frame-096 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-37xl);
  margin-left: -65px;
  text-align: center;
}
.b34 {
  flex: 1;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10.5px);
  right: -18.2px;
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  color: var(--color-slategray-200);
}
.depth-8-frame-49 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-120xl) var(--padding-xl);
  position: relative;
}
.depth-5-frame-0-frame,
.depth-5-frame-022 {
  justify-content: flex-start;
  box-sizing: border-box;
}
.depth-5-frame-022 {
  width: 943px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 var(--padding-xs) 0 0;
  gap: var(--gap-12xs-1);
  max-width: 100%;
}
.depth-5-frame-0-frame {
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
  font-size: var(--font-size-sm);
}
.depth-5-frame-0-frame,
.frame-parent105,
.insti-verification-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent105 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
.insti-verification-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.insti-verification-child {
  width: 113px;
  height: 1px;
  position: absolute;
  margin: 0 !important;
  top: 347.5px;
  left: 164px;
  object-fit: contain;
  z-index: 1;
}
.insti-verification {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl-5) var(--padding-30xl) 115px;
  box-sizing: border-box;
  gap: var(--gap-66xl-5);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .accreditation-enrollment-wrapper {
    display: none;
  }
  .frame-parent103 {
    width: 494px;
  }
  .depth-8-frame-114 {
    padding-left: var(--padding-50xl);
    padding-right: var(--padding-50xl);
    box-sizing: border-box;
  }
  .depth-8-frame-211,
  .depth-8-frame-38 {
    padding-left: var(--padding-49xl);
    padding-right: var(--padding-49xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .certificate-verification3 {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
  .depth-8-frame-113 {
    flex-wrap: wrap;
  }
  .depth-8-frame-210,
  .depth-8-frame-49 {
    padding-left: var(--padding-49xl);
    box-sizing: border-box;
  }
  .depth-8-frame-49 {
    padding-left: var(--padding-50xl);
    padding-right: var(--padding-50xl);
  }
}
@media screen and (max-width: 725px) {
  .accreditation-enrollment {
    display: none;
  }
  .frame-parent101 {
    gap: var(--gap-6xl);
  }
  .verification-date-container-parent {
    flex-wrap: wrap;
  }
  .depth-8-frame-114,
  .depth-8-frame-211,
  .depth-8-frame-38 {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .frame-parent105 {
    gap: var(--gap-lg);
  }
  .insti-verification {
    gap: var(--gap-24xl);
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent103 {
    gap: var(--gap-mini);
  }
  .certificate-verification3 {
    font-size: var(--font-size-5xl);
    line-height: 24px;
  }
  .frame-parent107,
  .frame-parent108,
  .parent2,
  .verification-item-date {
    flex-wrap: wrap;
  }
  .depth-8-frame-210,
  .depth-8-frame-49 {
    padding-left: var(--padding-15xl);
    box-sizing: border-box;
  }
  .depth-8-frame-49 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
  .insti-verification {
    gap: var(--gap-2xl);
  }
}
