.vector-06,
.vector-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vector-1 {
  z-index: 1;
}
.depth-8-frame-015 {
  position: absolute;
  top: -18874.5px;
  left: 8381px;
  width: 15.5px;
  height: 15.5px;
  display: none;
}
.depth-6-frame-015 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-6-frame-0-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.2px 0 0;
}
.educhain6 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.27px;
  line-height: 22.5px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 86px;
}
.frame-parent42,
.frame-wrapper12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent42 {
  flex-direction: row;
  gap: var(--gap-base);
}
.frame-wrapper12 {
  flex-direction: column;
  padding: 8.8px 0 0;
}
.home6 {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 41px;
}
.depth-5-frame-06,
.depth-6-frame-016 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 42px;
}
.depth-5-frame-110,
.depth-6-frame-017 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.courses {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 55px;
}
.depth-5-frame-23,
.depth-6-frame-018 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.accreditation {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 93px;
}
.depth-5-frame-35,
.depth-6-frame-019 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.verification7 {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 81px;
}
.depth-6-frame-020 {
  padding: 0;
}
.depth-5-frame-43,
.depth-6-frame-020 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-4-frame-0,
.login {
  font-size: var(--font-size-sm);
  font-family: var(--font-lexend);
  text-align: left;
}
.depth-4-frame-0 {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs-5) 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  color: var(--color-gray-500);
}
.login {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--color-whitesmoke-100);
  display: inline-block;
  min-width: 41px;
}
.depth-5-frame-07,
.depth-6-frame-021,
.depth-7-frame-027 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-07,
.depth-6-frame-021 {
  background-color: var(--color-dodgerblue-200);
  overflow: hidden;
}
.depth-5-frame-07 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs-5) var(--padding-2xl);
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sign-up {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.21px;
  line-height: 21px;
  font-weight: 700;
  font-family: var(--font-lexend);
  color: var(--color-gray-500);
  text-align: left;
  display: inline-block;
  min-width: 58px;
  white-space: nowrap;
}
.depth-5-frame-111,
.depth-6-frame-022,
.depth-7-frame-028 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-111,
.depth-6-frame-022 {
  background-color: var(--color-aliceblue-200);
  overflow: hidden;
}
.depth-5-frame-111 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs-5) var(--padding-base);
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.depth-3-frame-1,
.depth-4-frame-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.depth-3-frame-1 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0 0 414px;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.educhain-is-a,
.welcome-to-the {
  align-self: stretch;
  position: relative;
}
.welcome-to-the {
  margin: 0;
  font-size: inherit;
  line-height: 60px;
  font-weight: 800;
  font-family: inherit;
}
.educhain-is-a {
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-lexend);
}
.welcome-to-the-educational-cer-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.enroll-now {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.24px;
  line-height: 24px;
  display: inline-block;
  font-family: var(--font-lexend);
  color: var(--color-whitesmoke-100);
  text-align: left;
  min-width: 92px;
  white-space: nowrap;
}
.depth-10-frame-021,
.depth-11-frame-0,
.depth-9-frame-0 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-021,
.depth-9-frame-0 {
  background-color: var(--color-dodgerblue-200);
  overflow: hidden;
}
.depth-9-frame-0 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl);
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.verify-certificate {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.24px;
  line-height: 24px;
  font-family: var(--font-lexend);
  color: var(--color-gray-500);
  text-align: left;
  white-space: nowrap;
}
.depth-10-frame-022,
.depth-11-frame-01,
.depth-9-frame-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-022,
.depth-9-frame-1 {
  background-color: var(--color-aliceblue-200);
  overflow: hidden;
}
.depth-9-frame-1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl);
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.depth-6-frame-023,
.depth-9-frame-0-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs-8);
  max-width: 100%;
}
.depth-6-frame-023 {
  flex: 1;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
  padding: 200px var(--padding-5xl) var(--padding-5xl) var(--padding-37xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  background-image: url(./public/depth-6-frame-0@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.depth-6-frame-0-wrapper4 {
  width: 940px;
  flex-direction: row;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
}
.depth-3-frame-1-parent,
.depth-6-frame-0-wrapper4,
.frame-parent41 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-3-frame-1-parent {
  flex: 1;
  flex-direction: column;
  gap: 48.5px;
  min-width: 703px;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.frame-parent41 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-500);
  font-family: var(--font-lexend);
}
.key-features {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 45px;
  font-weight: 800;
  font-family: inherit;
  mix-blend-mode: normal;
}
.educhain-offers-a {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-lexend);
}
.key-features-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.depth-9-frame-01 {
  align-self: stretch;
  height: 125.4px;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.seamless-credential-management {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.manage-all-your {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  color: var(--color-steelblue-200);
}
.depth-9-frame-0-group,
.seamless-credential-management-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.seamless-credential-management-parent {
  align-self: stretch;
}
.depth-9-frame-0-group {
  gap: var(--gap-xs);
}
.depth-9-frame-02 {
  align-self: stretch;
  height: 125.4px;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.student-owned-records {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.students-fully-own {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  color: var(--color-steelblue-200);
  white-space: pre-wrap;
}
.depth-9-frame-0-container,
.student-owned-records-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.student-owned-records-parent {
  align-self: stretch;
}
.depth-9-frame-0-container {
  gap: var(--gap-xs);
}
.depth-9-frame-03 {
  align-self: stretch;
  height: 125.4px;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.immutable-and-tamper-proof {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.blockchain-technology-ensures {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  color: var(--color-steelblue-200);
}
.depth-9-frame-0-parent1,
.immutable-and-tamper-proof-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.immutable-and-tamper-proof-parent {
  align-self: stretch;
}
.depth-9-frame-0-parent1 {
  gap: var(--gap-xs);
}
.depth-9-frame-04 {
  align-self: stretch;
  height: 125.4px;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.instant-trustworthy-verificat {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.instantly-verify-academic {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  color: var(--color-steelblue-200);
  white-space: pre-wrap;
}
.instant-trustworthy-verificat-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-0-parent2,
.group-div {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.depth-9-frame-0-parent2 {
  display: flex;
  flex-direction: column;
}
.group-div {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(4, minmax(167px, 1fr));
  font-size: var(--font-size-base);
  font-family: var(--font-lexend);
}
.depth-0-frame-0-inner,
.frame-parent43 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent43 {
  width: 928px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.depth-0-frame-0-inner {
  width: 1176px;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-500);
  font-family: var(--font-manrope);
}
.what-people-are {
  margin: 0;
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: -0.33px;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
}
.depth-7-frame-029 {
  width: 40px;
  height: 40px;
  position: relative;
  object-fit: contain;
}
.depth-9-frame-05,
.vector-07 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-05 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-016 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-9-frame-06,
.vector-08 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-06 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-017 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-7-frame-0-parent,
.depth-8-frame-0-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.depth-7-frame-0-parent {
  flex-direction: column;
  gap: var(--gap-mini-5);
}
.jul-15-2022,
.syed-yashir {
  align-self: stretch;
  position: relative;
}
.syed-yashir {
  line-height: 24px;
  font-weight: 500;
}
.jul-15-2022 {
  font-size: var(--font-size-sm);
  line-height: 21px;
  color: #6a6a6a;
}
.frame-wrapper13,
.syed-yashir-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.syed-yashir-parent {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper13 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.depth-9-frame-07,
.vector-09 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-07 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-018 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-9-frame-08,
.vector-010 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-08 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-019 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-9-frame-09,
.vector-011 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-09 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-020 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-8-frame-0-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-parent45,
.frame-parent46 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent46 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  min-width: 575px;
}
.frame-parent45 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-11xs);
}
.educhain-has-been {
  width: 875.1px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
}
.frame-parent44 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xs-5);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
}
.depth-10-frame-023,
.vector-012 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-10-frame-023 {
  width: 17.5px;
  height: 15.6px;
}
.depth-9-frame-010 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-8-frame-021 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div25 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 18px;
}
.depth-7-frame-030,
.depth-8-frame-14,
.depth-9-frame-011 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.depth-7-frame-030 {
  flex-direction: row;
  gap: 7.9px;
}
.depth-10-frame-024,
.vector-013 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-10-frame-024 {
  width: 17.5px;
  height: 15.6px;
}
.depth-9-frame-012 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-7-frame-18,
.depth-8-frame-022 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.depth-7-frame-18 {
  flex-direction: row;
  padding: var(--padding-11xs) 0;
}
.depth-6-frame-3,
.depth-6-frame-3-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.depth-6-frame-3 {
  flex: 1;
  justify-content: space-between;
  padding: 0 var(--padding-807xl) 0 0;
  gap: var(--gap-xl);
}
.depth-6-frame-3-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs-5);
  text-align: center;
  color: var(--color-steelblue-200);
}
.depth-7-frame-031 {
  width: 40px;
  height: 40px;
  position: relative;
  object-fit: contain;
}
.depth-9-frame-013,
.vector-014 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-013 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-023 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-9-frame-014,
.vector-015 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-014 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-024 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-7-frame-0-group,
.depth-8-frame-0-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.depth-7-frame-0-group {
  flex-direction: column;
  gap: var(--gap-mini-5);
}
.jun-28-2022,
.umer-sheikh {
  align-self: stretch;
  position: relative;
}
.umer-sheikh {
  line-height: 24px;
  font-weight: 500;
}
.jun-28-2022 {
  font-size: var(--font-size-sm);
  line-height: 21px;
  color: #525759;
  z-index: 1;
}
.frame-wrapper14,
.umer-sheikh-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.umer-sheikh-parent {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper14 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.depth-9-frame-015,
.vector-016 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-015 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-025 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-9-frame-016,
.vector-017 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-016 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-026 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-9-frame-017,
.vector-018 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-017 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-027 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-8-frame-0-parent4,
.frame-parent49 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-parent49 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
  min-width: 575px;
  max-width: 100%;
}
.frame-parent48 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.as-an-employer {
  width: 853.2px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
}
.frame-parent47 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xs-5);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
}
.depth-10-frame-025,
.vector-019 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-10-frame-025 {
  width: 17.5px;
  height: 15.6px;
}
.depth-9-frame-018 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-8-frame-028 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div26 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 17px;
}
.depth-7-frame-032,
.depth-8-frame-15,
.depth-9-frame-019 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.depth-7-frame-032 {
  flex-direction: row;
  gap: 7.8px;
}
.depth-10-frame-026,
.vector-020 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-10-frame-026 {
  width: 17.5px;
  height: 15.6px;
}
.depth-9-frame-020 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-7-frame-19,
.depth-8-frame-029 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.depth-7-frame-19 {
  flex-direction: row;
  padding: var(--padding-11xs) 0;
}
.depth-6-frame-3-container,
.depth-6-frame-31 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.depth-6-frame-31 {
  flex: 1;
  justify-content: space-between;
  padding: 0 827px 0 0;
  gap: var(--gap-xl);
}
.depth-6-frame-3-container {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs-5);
  text-align: center;
  color: var(--color-steelblue-200);
}
.depth-8-frame-030 {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.depth-9-frame-021,
.vector-021 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-021 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-031 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-9-frame-022,
.vector-022 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-022 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-032 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-8-frame-0-parent5,
.depth-8-frame-0-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.depth-8-frame-0-parent5 {
  flex-direction: column;
  gap: var(--gap-mini-5);
}
.jun-15-2022,
.mehdi {
  align-self: stretch;
  position: relative;
}
.mehdi {
  line-height: 24px;
  font-weight: 500;
}
.jun-15-2022 {
  font-size: var(--font-size-sm);
  line-height: 21px;
  color: #5e656d;
  z-index: 1;
}
.frame-wrapper15,
.mehdi-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.mehdi-parent {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper15 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.depth-9-frame-023,
.vector-023 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-023 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-033 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-9-frame-024,
.vector-024 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-024 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-034 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-9-frame-025,
.vector-025 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-9-frame-025 {
  width: 17.5px;
  height: 16.9px;
  display: none;
}
.depth-8-frame-035 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-8-frame-0-parent7,
.frame-parent52 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-parent52 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
  min-width: 575px;
  max-width: 100%;
}
.frame-parent51 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.ive-found-educhain {
  width: 873px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
}
.depth-10-frame-027,
.star-rating-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-10-frame-027 {
  width: 17.5px;
  height: 15.6px;
}
.depth-9-frame-026 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-8-frame-036 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div27 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 18px;
}
.depth-7-frame-033,
.depth-8-frame-16,
.depth-9-frame-027 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.depth-7-frame-033 {
  flex-direction: row;
  gap: 7.7px;
}
.depth-10-frame-028,
.vector-026 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-10-frame-028 {
  width: 17.5px;
  height: 15.6px;
}
.depth-9-frame-028 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-6-frame-32,
.depth-7-frame-110,
.depth-8-frame-037 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.depth-6-frame-32,
.depth-7-frame-110 {
  flex-direction: row;
  padding: var(--padding-11xs) 0;
}
.depth-6-frame-32 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-807xl) 0 0;
  gap: var(--gap-xl);
  text-align: center;
  color: var(--color-steelblue-200);
}
.frame-parent50,
.what-people-are-saying-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent50 {
  align-self: stretch;
  gap: var(--gap-xs);
}
.what-people-are-saying-parent {
  width: 928px;
  gap: 27.5px;
}
.depth-0-frame-0-child {
  width: 1176px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 140px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-lexend);
}
.stay-informed {
  margin: 0;
  width: 273px;
  position: relative;
  font-size: inherit;
  line-height: 45px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.news-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-7xl) 0 var(--padding-xl);
}
.be-the-first {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-lexend);
}
.depth-0-frame-0-inner1,
.news-title-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.news-title-parent {
  width: 585px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 35.1px;
}
.depth-0-frame-0-inner1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 52.9px var(--padding-6xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-500);
  font-family: var(--font-montserrat);
}
.privacy-policy,
.terms-of-service1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.privacy-policy {
  text-decoration: none;
  color: inherit;
  min-width: 109px;
}
.terms-of-service1 {
  min-width: 129px;
}
.terms-of-service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
}
.contact-us {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 86px;
}
.privacy-policy-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.depth-8-frame-038,
.vector-027 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-8-frame-038 {
  width: 20.2px;
  height: 18px;
  display: none;
}
.depth-7-frame-034 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-8-frame-039,
.vector-028 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-8-frame-039 {
  width: 19.5px;
  height: 19.5px;
  display: none;
}
.depth-7-frame-035 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-8-frame-040,
.vector-029 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-8-frame-040 {
  width: 19.5px;
  height: 19.5px;
  display: none;
}
.depth-7-frame-036 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-7-frame-0-container,
.social-media {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.depth-7-frame-0-container {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.social-media {
  width: 714.6px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.educhain7 {
  width: 132px;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.copyright,
.footer-links {
  display: flex;
  max-width: 100%;
}
.copyright {
  width: 714.6px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.footer-links {
  width: 726.7px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.footer-links-wrapper {
  width: 1187.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-steelblue-200);
  font-family: var(--font-lexend);
}
.depth-0-frame-0,
.landing-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-0-frame-0 {
  flex: 1;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-smi-5) var(--padding-21xl) var(--padding-21xl);
  box-sizing: border-box;
  gap: 56px;
  max-width: 100%;
}
.landing-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .depth-3-frame-1 {
    padding-left: 207px;
    box-sizing: border-box;
  }
  .depth-0-frame-0 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .welcome-to-the {
    font-size: var(--font-size-19xl);
    line-height: 48px;
  }
  .depth-6-frame-023 {
    padding-left: var(--padding-9xl);
    box-sizing: border-box;
  }
  .depth-3-frame-1-parent {
    min-width: 100%;
  }
  .key-features {
    font-size: var(--font-size-10xl);
    line-height: 36px;
  }
  .depth-6-frame-3,
  .depth-6-frame-31,
  .depth-6-frame-32 {
    padding-right: var(--padding-394xl);
    box-sizing: border-box;
  }
  .depth-0-frame-0-child {
    padding-bottom: 91px;
    box-sizing: border-box;
  }
  .stay-informed {
    font-size: var(--font-size-10xl);
    line-height: 36px;
  }
  .depth-0-frame-0 {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .depth-4-frame-0 {
    display: none;
  }
  .depth-3-frame-1 {
    gap: var(--gap-base);
    padding-left: 103px;
    box-sizing: border-box;
  }
  .depth-6-frame-023 {
    padding-top: 130px;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .depth-3-frame-1-parent {
    gap: var(--gap-5xl);
  }
  .group-div {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(167px, 290px));
  }
  .frame-parent46,
  .frame-parent49,
  .frame-parent52 {
    min-width: 100%;
  }
  .news-title-parent {
    gap: var(--gap-lg);
  }
  .depth-0-frame-0 {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 450px) {
  .depth-3-frame-1 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .welcome-to-the {
    font-size: var(--font-size-10xl);
    line-height: 36px;
  }
  .depth-9-frame-0-parent {
    flex-wrap: wrap;
  }
  .depth-6-frame-023 {
    gap: var(--gap-base);
  }
  .key-features {
    font-size: var(--font-size-3xl);
    line-height: 27px;
  }
  .group-div {
    grid-template-columns: minmax(167px, 1fr);
  }
  .frame-parent43 {
    gap: var(--gap-xl);
  }
  .what-people-are {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .depth-6-frame-3,
  .depth-6-frame-31,
  .depth-6-frame-32 {
    padding-right: var(--padding-187xl);
    box-sizing: border-box;
  }
  .depth-0-frame-0-child {
    padding-bottom: var(--padding-40xl);
    box-sizing: border-box;
  }
  .stay-informed {
    font-size: var(--font-size-3xl);
    line-height: 27px;
  }
  .privacy-policy-parent {
    flex-wrap: wrap;
  }
}
