.login2 {
  text-decoration: none;
  width: 147px;
  position: relative;
  letter-spacing: -0.8px;
  line-height: 40px;
  font-weight: 800;
  color: inherit;
  display: inline-block;
}
.security-features1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 1.2px;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
}
.security-features-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-bakbak-one);
}
.main-content,
.main-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.main-content {
  width: 755px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.main-content-wrapper {
  width: 993px;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
}
.email3 {
  flex: 1;
  position: relative;
  line-height: 26px;
}
.form-field-labels {
  width: 79px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.email-or-username1 {
  width: 112px;
  border: 0;
  outline: 0;
  font-family: var(--font-manrope);
  font-size: var(--font-size-smi);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--color-dimgray-200);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.depth-8-frame-044 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-400);
  border: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-mini);
}
.password1 {
  flex: 1;
  position: relative;
  line-height: 26px;
}
.form-field-labels1 {
  width: 79px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--font-size-smi);
}
.first-last-name1 {
  width: 86px;
  border: 0;
  outline: 0;
  font-family: var(--font-manrope);
  font-size: var(--font-size-smi);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--color-dimgray-200);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.depth-8-frame-045 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-400);
  border: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-mini);
}
.role1 {
  flex: 1;
  position: relative;
  line-height: 26px;
}
.form-field-labels2 {
  width: 79px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.select-your-role1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 94px;
}
.mingcutedown-line-icon1 {
  width: 24.7px;
  height: 24.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  cursor: pointer;
}
.mingcutedown-line-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.7px 0 0;
}
.depth-8-frame-046 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-400);
  border: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-lgi) var(--padding-6xs)
    var(--padding-mini);
  gap: var(--gap-xl);
}
.get-started1 {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.21px;
  line-height: 21px;
  font-weight: 800;
  font-family: var(--font-manrope);
  color: var(--color-whitesmoke-200);
  text-align: left;
  display: inline-block;
  min-width: 82px;
}
.depth-5-frame-09 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xl) var(--padding-3xs)
    var(--padding-4xl);
  background-color: var(--color-dodgerblue-300);
  position: absolute;
  top: 51px;
  left: 0;
  border-radius: var(--br-xs);
  width: 429px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.depth-5-frame-09:hover {
  background-color: var(--color-cornflowerblue-100);
}
.user-type-selection-child {
  align-self: stretch;
  height: 75.4px;
  position: relative;
  border-radius: 0 0 var(--br-xs) var(--br-xs);
  background-color: var(--color-gray-100);
  border: 0.2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.student {
  position: relative;
  letter-spacing: 0.7px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 44px;
  cursor: pointer;
  z-index: 2;
}
.institute-field,
.student-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}
.institute-field {
  width: 71px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  box-sizing: border-box;
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.organization-type-fields-child {
  align-self: stretch;
  height: 0.2px;
  position: relative;
  border-top: 0.2px solid var(--color-silver-300);
  box-sizing: border-box;
}
.organization-type-fields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}
.line-div {
  align-self: stretch;
  height: 0.2px;
  position: relative;
  border-top: 0.2px solid var(--color-silver-300);
  box-sizing: border-box;
  z-index: 2;
  margin-top: -24.2px;
}
.organization-type-fields-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 23.8px;
  cursor: pointer;
  z-index: 3;
}
.frame-child8 {
  position: absolute;
  top: 25px;
  left: 0;
  border-top: 0.2px solid var(--color-silver-300);
  box-sizing: border-box;
  width: 270.2px;
  height: 0.2px;
}
.orginization {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-manrope);
  font-size: var(--font-size-3xs);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 12px;
  letter-spacing: 0.7px;
  line-height: 24px;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.line-parent {
  align-self: stretch;
  height: 25px;
  position: relative;
  cursor: pointer;
  z-index: 4;
  margin-top: -1px;
}
.frame-parent53,
.user-type-selection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent53 {
  align-self: stretch;
}
.user-type-selection {
  position: absolute;
  top: 0;
  left: 10px;
  border-radius: 0 0 var(--br-xs) var(--br-xs);
  background-color: var(--color-gray-100);
  border: 0.2px solid var(--color-black);
  box-sizing: border-box;
  width: 270.4px;
  padding: var(--padding-12xs) 0 0;
  z-index: 1;
}
.depth-5-frame-0-group {
  align-self: stretch;
  height: 91px;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.depth-8-frame-0-parent8,
.registration-form-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.depth-8-frame-0-parent8 {
  align-self: stretch;
  font-size: var(--font-size-smi);
  color: var(--color-dimgray-200);
}
.registration-form-fields {
  width: 429px;
  gap: var(--gap-2xs);
  min-width: 429px;
}
.carbonmanage-protection-icon3 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.identity-verified3 {
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  font-weight: 800;
}
.identity-verification-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.verified-user-information3 {
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  font-weight: 500;
}
.depth-5-frame-37,
.verified-user-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.verified-user-icon {
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  font-size: var(--font-size-mini);
}
.depth-5-frame-37 {
  align-self: stretch;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-silver-100);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-lgi) var(--padding-mid) var(--padding-lg);
  gap: var(--gap-6xs);
  mix-blend-mode: normal;
}
.carbonmanage-protection-icon4 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.identity-verified4 {
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  font-weight: 800;
}
.identity-verified-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.verified-user-information4 {
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  font-weight: 500;
}
.verified-user-information-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  font-size: var(--font-size-mini);
}
.badge-icons,
.depth-5-frame-54 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-54 {
  align-self: stretch;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-silver-100);
  overflow: hidden;
  padding: var(--padding-lgi) var(--padding-mid) var(--padding-lg);
  gap: var(--gap-6xs);
  mix-blend-mode: normal;
}
.badge-icons {
  flex: 1;
  gap: var(--gap-2xl);
  min-width: 157px;
}
.carbonmanage-protection-icon5 {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.identity-verified5 {
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  font-weight: 800;
}
.badge-label-pair {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.verified-user-information5 {
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  font-weight: 500;
}
.badge-label-pair1 {
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  font-size: var(--font-size-mini);
}
.badge-label-pair1,
.depth-5-frame-45,
.security-badges-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-45 {
  flex: 0.8506;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-lgi) var(--padding-mid) var(--padding-lg);
  gap: var(--gap-6xs);
  mix-blend-mode: normal;
  min-width: 157px;
}
.security-badges-container {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-lg);
}
.security-badges-container-wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  min-width: 500px;
  max-width: 100%;
  font-size: var(--font-size-mid);
  color: var(--color-black);
}
.registration-form-fields-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
.or1 {
  width: 154px;
  position: relative;
  line-height: 40px;
  display: inline-block;
  flex-shrink: 0;
}
.alternative-login-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.signup1 {
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  min-width: 50px;
}
.depth-5-frame-25 {
  border-radius: var(--br-xs);
  background-color: var(--color-lavender-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-36xl) var(--padding-3xs)
    var(--padding-37xl);
  mix-blend-mode: normal;
}
.log-in-as1 {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  font-family: var(--font-manrope);
  color: var(--color-black);
  text-align: left;
  min-width: 114px;
}
.depth-5-frame-113,
.depth-5-frame-2-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.depth-5-frame-113 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-40xl) var(--padding-3xs)
    var(--padding-41xl);
  background-color: var(--color-lavender-100);
  border-radius: var(--br-xs);
  overflow: hidden;
  justify-content: flex-start;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.depth-5-frame-113:hover {
  background-color: var(--color-lightgray-200);
}
.depth-5-frame-2-parent {
  justify-content: center;
  gap: var(--gap-16xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.alternative-login-container-parent,
.sign-up-screen-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.alternative-login-container-parent {
  width: 429px;
  align-items: flex-end;
  gap: var(--gap-lgi);
  max-width: 100%;
  font-size: var(--font-size-mini);
}
.sign-up-screen-2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-88xl) var(--padding-85xl) var(--padding-175xl)
    var(--padding-122xl);
  box-sizing: border-box;
  gap: var(--gap-lg);
  mix-blend-mode: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-36xl);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 1200px) {
  .registration-form-fields,
  .security-badges-container-wrapper {
    flex: 1;
  }
  .registration-form-fields-parent {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1050px) {
  .login2 {
    font-size: var(--font-size-25xl);
    line-height: 32px;
  }
  .security-features1 {
    font-size: var(--font-size-11xl);
    line-height: 17px;
  }
  .security-badges-container-wrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .registration-form-fields {
    min-width: 100%;
  }
  .depth-5-frame-2-parent,
  .security-badges-container {
    flex-wrap: wrap;
  }
  .sign-up-screen-2 {
    padding-left: var(--padding-51xl);
    padding-right: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .login2 {
    font-size: var(--font-size-14xl);
    line-height: 24px;
  }
  .security-features1 {
    font-size: var(--font-size-4xl);
    line-height: 13px;
  }
  .depth-5-frame-45 {
    flex: 1;
  }
  .depth-5-frame-2-parent {
    gap: var(--gap-mid);
  }
  .sign-up-screen-2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
