.student-dash-board-child {
  width: 1280px;
  height: 1762px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.depth-10-frame-030 {
  position: absolute;
  top: 6.2px;
  left: 16px;
  width: 243px;
  height: 21px;
  display: none;
}
.depth-5-frame-012 {
  width: 288px;
  height: 40px;
  position: absolute;
  margin: 0 !important;
  top: 170.8px;
  left: 204px;
}
.depth-7-frame-040,
.vector-032 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-7-frame-040 {
  width: 13.3px;
  height: 13.3px;
  display: none;
}
.depth-6-frame-028 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-6-frame-0-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi-8) var(--padding-9xs) 0 0;
}
.educhain11 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.27px;
  line-height: 23px;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  min-width: 99px;
  white-space: nowrap;
}
.educhain-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-400);
}
.dashboard-label-child {
  height: 40px;
  width: 134px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  display: none;
}
.dashboard {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 89px;
  z-index: 1;
}
.dashboard-label,
.dashboard-label-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-label {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-2xl) var(--padding-3xs);
  background-color: var(--color-aliceblue-500);
  align-self: stretch;
  border-radius: var(--br-xs);
  flex-direction: row;
}
.dashboard-label:hover {
  background-color: var(--color-lightgray-100);
}
.dashboard-label-wrapper {
  width: 150px;
  flex-direction: column;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
}
.certificate5,
.course {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
}
.course {
  min-width: 60px;
  cursor: pointer;
}
.certificate5 {
  min-width: 90px;
}
.course-certificate {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.course-certificate-wrapper {
  width: 228px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-6xl) 0 0;
  box-sizing: border-box;
}
.verification11 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 96px;
  cursor: pointer;
}
.verification-edit {
  width: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.edit-profile7 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 91px;
  white-space: nowrap;
}
.verification-edit1 {
  width: 116px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.depth-5-frame-116 {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: var(--br-xs);
}
.depth-5-frame-1-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.depth-4-frame-26 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.profile {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 29.5px;
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-manrope);
}
.welcome-to-educhainyashir {
  margin: 0;
  height: 147px;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.8px;
  line-height: 65px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.welcome-to-educhainyashir-wrapper {
  width: 764px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-50xl);
  box-sizing: border-box;
  max-width: 100%;
}
.active {
  width: 334px;
  position: relative;
  line-height: 29px;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
}
.certificate-icons-child {
  height: 60px;
  width: 63px;
  position: relative;
  border-radius: var(--br-2xs);
  object-fit: cover;
}
.certifiated-scrum-master,
.expires-in-3 {
  position: relative;
  line-height: 29px;
  flex-shrink: 0;
}
.certifiated-scrum-master {
  align-self: stretch;
  z-index: 1;
}
.expires-in-3 {
  margin-top: -5px;
  flex: 1;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
}
.expiry-labels {
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-mid);
}
.certificate-names {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.certificate-icons,
.certificate-labels,
.certificate-names {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.certificate-labels {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 217px;
  max-width: 100%;
}
.certificate-icons {
  width: 417px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
  max-width: calc(100% - 42px);
}
.uiwup-icon {
  width: 22px;
  height: 22.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.certificate-details,
.icon-label {
  display: flex;
  align-items: flex-start;
}
.icon-label {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
}
.certificate-details {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child21 {
  height: 60px;
  width: 63px;
  position: relative;
  border-radius: var(--br-2xs);
  object-fit: cover;
}
.aws-certified-solutions,
.expires-in-1 {
  position: relative;
  line-height: 29px;
  flex-shrink: 0;
}
.aws-certified-solutions {
  z-index: 1;
}
.expires-in-1 {
  margin-top: -5px;
  flex: 1;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
}
.expires-in-1-years-wrapper {
  width: 334px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-mid);
}
.aws-certified-solutions-archit-parent {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.aws-certified-solutions-archit-parent,
.frame-wrapper18,
.rectangle-parent11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper18 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 278px;
  max-width: 100%;
}
.rectangle-parent11 {
  width: 511px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
  max-width: calc(100% - 42px);
}
.uiwup-icon1 {
  width: 22px;
  height: 22.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.certificate-details1,
.uiwup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
}
.certificate-details1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.education,
.uiwup-icon2 {
  position: relative;
  flex-shrink: 0;
}
.education {
  width: 334px;
  line-height: 29px;
  font-weight: 800;
  display: inline-block;
  max-width: calc(100% - 42px);
}
.uiwup-icon2 {
  width: 22px;
  height: 22.2px;
  overflow: hidden;
  object-fit: contain;
}
.education-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.education-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.experience-card-child {
  height: 60px;
  width: 63px;
  position: relative;
  border-radius: var(--br-2xs);
  object-fit: cover;
}
.mbabusiness-administration {
  align-self: stretch;
  position: relative;
  line-height: 29px;
  z-index: 1;
}
.un-2020-presesnt {
  font-size: var(--font-size-base);
}
.jun-2020-presesnt {
  align-self: stretch;
  position: relative;
  line-height: 29px;
  margin-top: -5px;
  font-size: var(--font-size-mid);
}
.experience-card,
.experience-info,
.experience-labels {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience-labels {
  align-self: stretch;
  flex-direction: column;
}
.experience-card,
.experience-info {
  max-width: 100%;
}
.experience-info {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 217px;
}
.experience-card {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.experience {
  width: 334px;
  position: relative;
  line-height: 29px;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
}
.experience-details {
  width: 417px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: calc(100% - 42px);
}
.uiwup-icon3,
.uiwup-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
}
.uiwup-icon4 {
  z-index: 1;
}
.experience-logo {
  width: 22px;
  height: 22.2px;
  position: relative;
}
.experience-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
}
.active-certificate,
.education-details-parent,
.experience-details-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.active-certificate,
.education-details-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs-8);
}
.active-certificate {
  gap: var(--gap-lgi);
}
.expired {
  width: 334px;
  position: absolute;
  margin: 0 !important;
  right: -245px;
  bottom: 98px;
  line-height: 29px;
  display: inline-block;
}
.a-months-left {
  bottom: 178px;
}
.a-months-left,
.days-left,
.months-left {
  width: 334px;
  position: absolute;
  margin: 0 !important;
  right: -245px;
  line-height: 29px;
  display: inline-block;
}
.days-left {
  top: 148px;
}
.months-left {
  bottom: 20px;
}
.expired-icons-child {
  height: 60px;
  width: 63px;
  position: relative;
  border-radius: var(--br-2xs);
  object-fit: cover;
}
.product-manager {
  align-self: stretch;
  position: relative;
  line-height: 29px;
  z-index: 1;
}
.un-2020-presesnt1 {
  font-size: var(--font-size-base);
}
.jun-2020-presesnt1 {
  align-self: stretch;
  position: relative;
  line-height: 29px;
  margin-top: -5px;
  font-size: var(--font-size-mid);
}
.expired-icons,
.expired-labels,
.expired-names {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.expired-names {
  align-self: stretch;
  flex-direction: column;
}
.expired-icons,
.expired-labels {
  max-width: 100%;
}
.expired-labels {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 217px;
}
.expired-icons {
  width: 417px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.experience1 {
  width: 334px;
  position: relative;
  line-height: 29px;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
}
.past-experience-icons-child {
  height: 60px;
  width: 63px;
  position: relative;
  border-radius: var(--br-2xs);
  object-fit: cover;
}
.certified-scrum-master,
.submitted-3-days {
  position: relative;
  line-height: 29px;
  flex-shrink: 0;
}
.certified-scrum-master {
  align-self: stretch;
  z-index: 1;
}
.submitted-3-days {
  margin-top: -5px;
  flex: 1;
  display: inline-block;
  max-width: 100%;
}
.past-experience-duration {
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-mid);
}
.past-experience-names {
  align-self: stretch;
  flex-direction: column;
}
.past-experience-icons,
.past-experience-labels,
.past-experience-names {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.past-experience-labels {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 217px;
}
.past-experience-icons {
  width: 417px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.past-experience-icons-item {
  height: 60px;
  width: 63px;
  position: relative;
  border-radius: var(--br-2xs);
  object-fit: cover;
}
.aws-certified-solutions1,
.submitted-4-months {
  position: relative;
  line-height: 29px;
  flex-shrink: 0;
}
.aws-certified-solutions1 {
  z-index: 1;
}
.submitted-4-months {
  margin-top: -5px;
  flex: 1;
  display: inline-block;
  max-width: 100%;
}
.submitted-4-months-ago-wrapper {
  width: 334px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-mid);
}
.aws-certified-solutions-archit-group,
.past-experience-icons-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.aws-certified-solutions-archit-group {
  align-self: stretch;
}
.past-experience-icons-inner {
  flex: 1;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 285px;
}
.experience-parent,
.past-experience-details,
.past-experience-icons1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.past-experience-icons1 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.experience-parent,
.past-experience-details {
  flex-direction: column;
  gap: var(--gap-2xl);
}
.experience-parent {
  gap: var(--gap-lgi);
}
.expired-icons-item {
  height: 60px;
  width: 63px;
  position: relative;
  border-radius: var(--br-2xs);
  object-fit: cover;
}
.mbabusiness-administration1,
.submitted-1-year {
  position: relative;
  line-height: 29px;
  flex-shrink: 0;
}
.mbabusiness-administration1 {
  align-self: stretch;
  z-index: 1;
}
.submitted-1-year {
  margin-top: -5px;
  flex: 1;
  display: inline-block;
  max-width: 100%;
}
.submitted-1-year-ago-wrapper {
  align-self: stretch;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-mid);
}
.mbabusiness-administration-parent {
  align-self: stretch;
  flex-direction: column;
}
.expired-icons-inner,
.expired-icons1,
.mbabusiness-administration-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.expired-icons-inner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 217px;
}
.expired-icons1 {
  width: 417px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.expired-icons-child1 {
  height: 60px;
  width: 63px;
  position: relative;
  border-radius: var(--br-2xs);
  object-fit: cover;
}
.product-manager1,
.submitted-5-days {
  position: relative;
  line-height: 29px;
  flex-shrink: 0;
}
.product-manager1 {
  align-self: stretch;
  z-index: 1;
}
.submitted-5-days {
  margin-top: -5px;
  flex: 1;
  display: inline-block;
  max-width: 100%;
}
.product-manager-parent,
.submitted-5-days-ago-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.submitted-5-days-ago-wrapper {
  height: 24px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-mid);
}
.product-manager-parent {
  flex-direction: column;
}
.expired-icons-inner1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 217px;
  max-width: 100%;
}
.expired-details,
.expired-icons-inner1,
.expired-icons2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.expired-icons2 {
  width: 417px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
  max-width: 100%;
}
.expired-details {
  width: 521px;
  flex-direction: column;
  gap: var(--gap-3xl);
  max-width: calc(100% - 42px);
}
.uiwup-icon5 {
  width: 22px;
  height: 22.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.past-experience-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) 0 0;
}
.certificate-card,
.expired-card,
.expired-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.expired-card {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.certificate-card,
.expired-parent {
  justify-content: flex-start;
}
.expired-parent {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  font-size: var(--font-size-mini);
}
.certificate-card {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lgi);
}
.certificate-card-wrapper,
.student-dash-board {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: left;
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
.certificate-card-wrapper {
  width: 1160px;
  flex-direction: row;
  padding: 0 var(--padding-45xl);
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.student-dash-board {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-700);
  flex-direction: column;
  padding: var(--padding-15xl-5) var(--padding-19xl) 197px var(--padding-41xl);
  gap: var(--gap-41xl);
  line-height: normal;
  letter-spacing: normal;
  font-size: 60px;
}
@media screen and (max-width: 1125px) {
  .certificate-card-wrapper {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .course-certificate {
    display: none;
  }
  .course-certificate-wrapper {
    width: 25px;
  }
  .welcome-to-educhainyashir {
    font-size: var(--font-size-29xl);
    line-height: 52px;
  }
  .welcome-to-educhainyashir-wrapper {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .student-dash-board {
    gap: var(--gap-11xl);
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .welcome-to-educhainyashir {
    font-size: var(--font-size-17xl);
    line-height: 39px;
  }
  .active,
  .aws-certified-solutions,
  .aws-certified-solutions1,
  .certifiated-scrum-master,
  .certified-scrum-master,
  .education,
  .experience,
  .experience1,
  .mbabusiness-administration,
  .mbabusiness-administration1,
  .product-manager,
  .product-manager1 {
    font-size: var(--font-size-base);
    line-height: 23px;
  }
  .student-dash-board {
    gap: var(--gap-mini);
  }
}
