@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    padding: 0.6rem;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Center items vertically */
    padding: 0 1.9rem;
    width: 60%;
    font-size: 1rem;
}

.options:hover {
    text-decoration: underline;
    cursor: pointer;

}
.nav-logo {
    font-size: 1rem;
    padding-left: 3rem;
}

.options {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.options i {
    font-size: 1.6rem;
}


.container {
    width: 100%;
    max-width: 600px;
    margin-left: 300px;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.profile-card {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1;
}

.profile-info h2 {
    font-size: 1.25rem;
    margin: 0;
}

.profile-info p {
    margin: 5px 0 0;
    color: #555555;
}

.qr-code {
    width: 40px;
    height: 40px;
}

form h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 20px 0 10px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
    height: 100px;
}

button.save-button {
    width: 15%;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    font-weight: 600;
    margin-left: 500px;
}
a
{
color: #000000;
text-decoration: none;
}
