.depth-7-frame-023,
.vector-04 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-7-frame-023 {
  width: 13.3px;
  height: 13.3px;
  display: none;
}
.depth-6-frame-013 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-6-frame-0-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-3) 0 0;
}
.educhain4 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.27px;
  line-height: 23px;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  min-width: 99px;
  white-space: nowrap;
}
.frame-parent33,
.frame-wrapper10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent33 {
  flex-direction: row;
  gap: var(--gap-base);
}
.frame-wrapper10 {
  flex-direction: column;
  padding: var(--padding-5xs-5) 0 0;
}
.certificater,
.edit-profile5,
.home4 {
  text-decoration: none;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
}
.home4 {
  position: absolute;
  top: 9.5px;
  left: 0;
  display: inline-block;
  width: 48px;
  min-width: 48px;
}
.certificater,
.edit-profile5 {
  white-space: nowrap;
  cursor: pointer;
}
.edit-profile5 {
  position: absolute;
  top: 10.5px;
  left: 77px;
  display: inline-block;
  width: 147px;
}
.certificater {
  align-self: stretch;
  position: relative;
}
.certificater-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.employ-enrollment4 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  white-space: nowrap;
  margin-left: -31px;
}
.frame-parent34 {
  position: absolute;
  top: 9.5px;
  left: 192px;
  width: 270px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child7 {
  height: 40px;
  width: 125px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  display: none;
}
.verification5 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 96px;
  z-index: 1;
}
.rectangle-parent6 {
  position: absolute;
  top: 0.5px;
  left: 649px;
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-mini);
}
.training-programs7 {
  text-decoration: none;
  position: absolute;
  top: 9.5px;
  left: 486px;
  letter-spacing: 0.8px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  width: 150px;
  white-space: nowrap;
  cursor: pointer;
}
.depth-4-frame-24,
.depth-5-frame-17 {
  position: absolute;
  width: 40px;
  height: 40px;
}
.depth-5-frame-17 {
  top: 1px;
  left: 808px;
  border-radius: var(--br-xs);
  cursor: pointer;
}
.depth-4-frame-24 {
  top: 0;
  left: 860px;
  border-radius: var(--br-xl);
  overflow: hidden;
  object-fit: cover;
}
.home-edit-profile {
  height: 41px;
  width: 900px;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.frame-parent32 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
.certificate-verification {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.8px;
  line-height: 40px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.depth-7-frame-024 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.search-for-certificate {
  width: 222px;
  border: 0;
  outline: 0;
  font-family: var(--font-manrope);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.certificate-verification-parent,
.depth-5-frame-18 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-18 {
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
}
.certificate-verification-parent {
  flex-direction: column;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.all10387 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  min-width: 90px;
}
.all10387-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
}
.pending6387,
.verified3387 {
  position: relative;
  line-height: 40px;
  display: inline-block;
  color: var(--color-dimgray-300);
  min-width: 123px;
}
.pending6387 {
  letter-spacing: -0.8px;
  color: var(--color-dimgray-100);
  min-width: 118px;
}
.verified-pending {
  width: 437px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-mid);
}
.line-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -2px;
}
.frame-parent36 {
  width: 935px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid-5);
  max-width: 100%;
}
.certificate-id,
.id,
.name {
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.id {
  width: 113px;
  color: var(--color-black);
  flex-shrink: 0;
}
.certificate-id,
.name {
  font-weight: 600;
}
.name {
  width: 184px;
  flex-shrink: 0;
}
.certificate-id {
  margin-right: -16.5px;
  width: 252.5px;
}
.i-d-status-date {
  width: 236px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.depth-9-frame-2 {
  height: 45.5px;
  width: 195.2px;
  flex-shrink: 0;
  display: none;
}
.status {
  width: 163.2px;
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.i-d-status-date1 {
  width: 204px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.depth-9-frame-4 {
  height: 45.5px;
  width: 171.2px;
  flex-shrink: 0;
  display: none;
}
.date {
  width: 139.2px;
  position: relative;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.depth-10-frame-0,
.depth-8-frame-09 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
}
.depth-10-frame-0 {
  width: 139.2px;
  padding: 0 0 0 var(--padding-base);
  z-index: 4;
  color: var(--color-black);
}
.depth-8-frame-09 {
  margin-right: -122px;
  width: 1053px;
  background-color: var(--color-whitesmoke-200);
  overflow-x: auto;
  padding: var(--padding-xs) var(--padding-4xl) var(--padding-smi);
  max-width: 114%;
  font-size: var(--font-size-base);
}
.ali-raza,
.div5 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
}
.div5 {
  width: 122px;
  flex-shrink: 0;
}
.ali-raza {
  flex: 1;
  min-width: 40px;
}
.depth-8-frame-0-inner,
.parent {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.depth-8-frame-0-inner {
  width: 365px;
  flex-direction: column;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
}
.div6 {
  width: 227.6px;
  position: relative;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.wrapper {
  width: 292.6px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  margin-left: -65px;
  color: var(--color-slategray-200);
}
.pending {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-01,
.verified-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-01 {
  border-radius: var(--br-xs);
  background-color: var(--color-lightsteelblue-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
}
.verified-list {
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
}
.b6 {
  width: 139.2px;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.depth-9-frame-41 {
  width: 171.2px;
  padding: var(--padding-6xl-5) 0 var(--padding-6xl-5) var(--padding-53xl);
  box-sizing: border-box;
  z-index: 1;
  text-align: left;
  color: var(--color-slategray-200);
}
.depth-8-frame-010,
.depth-9-frame-41,
.verified-list-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.verified-list-parent {
  gap: var(--gap-lg);
  flex-shrink: 0;
  margin-left: -65px;
  text-align: center;
}
.depth-8-frame-010 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  padding: 0 var(--padding-mini);
}
.div7,
.sara-ahmed {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
}
.div7 {
  width: 122px;
  flex-shrink: 0;
}
.sara-ahmed {
  flex: 1;
  min-width: 60px;
}
.depth-8-frame-1-inner,
.group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group {
  align-self: stretch;
  flex-direction: row;
  flex-shrink: 0;
  row-gap: 20px;
}
.depth-8-frame-1-inner {
  width: 365px;
  flex-direction: column;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.div8 {
  width: 227.6px;
  position: relative;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.container {
  width: 292.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  margin-left: -65px;
  color: var(--color-slategray-200);
}
.pending1 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-0-wrapper,
.depth-10-frame-02 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-02 {
  border-radius: var(--br-xs);
  background-color: var(--color-lightsteelblue-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
}
.depth-10-frame-0-wrapper {
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
}
.b7 {
  width: 139.2px;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.depth-9-frame-42,
.frame-parent37 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-9-frame-42 {
  width: 171.2px;
  padding: var(--padding-6xl-5) 0 var(--padding-6xl-5) var(--padding-53xl);
  box-sizing: border-box;
  z-index: 1;
  text-align: left;
  color: var(--color-slategray-200);
}
.frame-parent37 {
  gap: var(--gap-lg);
  flex-shrink: 0;
  max-width: 100%;
  margin-left: -65px;
  text-align: center;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div9 {
  width: 243px;
  position: absolute;
  margin: 0 !important;
  bottom: -47px;
  left: 14px;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16 {
  bottom: -120px;
}
.div11,
.div12,
.div13,
.div14,
.div15,
.div16 {
  bottom: -193px;
}
.div12,
.div13,
.div14,
.div15,
.div16 {
  bottom: -262px;
}
.div13,
.div14,
.div15,
.div16 {
  bottom: -334px;
}
.div14,
.div15,
.div16 {
  bottom: -406px;
}
.div15,
.div16 {
  bottom: -478px;
}
.div16 {
  bottom: -550px;
}
.dawwod,
.depth-8-frame-1 {
  align-self: stretch;
  position: relative;
}
.depth-8-frame-1 {
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm);
  row-gap: 20px;
  max-width: 100%;
}
.dawwod {
  line-height: 21px;
  font-weight: 600;
}
.dawwod-wrapper {
  width: 178px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-5) 0 0;
  box-sizing: border-box;
}
.div17 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
}
.frame {
  width: 227.6px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.pending2 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-0-container,
.depth-10-frame-03 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-03 {
  border-radius: var(--br-xs);
  background-color: var(--color-lightsteelblue-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
}
.depth-10-frame-0-container {
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
}
.b8 {
  width: 139.2px;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.depth-9-frame-43 {
  width: 171.2px;
  padding: var(--padding-6xl-5) 0 var(--padding-6xl-5) var(--padding-43xl);
  box-sizing: border-box;
  z-index: 1;
  text-align: left;
  color: var(--color-slategray-200);
}
.depth-8-frame-2,
.depth-9-frame-43,
.frame-parent38 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent38 {
  flex-wrap: wrap;
  gap: var(--gap-9xl-2);
  text-align: center;
}
.depth-8-frame-2 {
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  padding: 0 var(--padding-7xl) 0 var(--padding-117xl);
}
.div18,
.elii-clooney {
  position: relative;
  line-height: 21px;
}
.elii-clooney {
  flex: 1;
  font-weight: 600;
}
.div18 {
  width: 227.6px;
  color: var(--color-slategray-200);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -65px;
}
.elii-clooney-parent,
.frame-wrapper11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.elii-clooney-parent {
  align-self: stretch;
  flex-direction: row;
}
.frame-wrapper11 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xl-5) 0 0;
  box-sizing: border-box;
  min-width: 264px;
  max-width: 100%;
}
.pending3 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.depth-10-frame-0-frame,
.depth-10-frame-04 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-04 {
  border-radius: var(--br-xs);
  background-color: var(--color-lightsteelblue-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  z-index: 1;
}
.depth-10-frame-0-frame {
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
}
.e {
  width: 139.2px;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.depth-9-frame-44 {
  width: 171.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-5) 0 var(--padding-6xl-5) var(--padding-47xl);
  box-sizing: border-box;
  z-index: 2;
  text-align: left;
  color: var(--color-slategray-200);
}
.frame-parent40 {
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: center;
}
.depth-5-frame-0-inner,
.frame-parent39,
.frame-parent40 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent39 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 20px;
}
.depth-5-frame-0-inner {
  width: 832px;
  justify-content: flex-end;
  padding: 0 var(--padding-18xl);
  box-sizing: border-box;
}
.ali-raza1 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.ali-raza-wrapper {
  width: 243px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.div19 {
  width: 237.5px;
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.wrapper1 {
  width: 302.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  margin-left: -65px;
  color: var(--color-slategray-200);
}
.verified {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 51px;
}
.depth-10-frame-0-wrapper1,
.depth-10-frame-05 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-05 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-37xl);
}
.depth-10-frame-0-wrapper1 {
  width: 326.3px;
  flex-shrink: 0;
  flex-direction: column;
  margin-left: -65px;
  text-align: center;
}
.b9 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-8-frame-011,
.wrapper2 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper2 {
  width: 139.2px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  margin-left: -65px;
  color: var(--color-slategray-200);
}
.depth-8-frame-011 {
  position: absolute;
  top: 71.5px;
  left: 0;
  border-top: 1px solid var(--color-gainsboro-100);
  width: 100%;
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-base) var(--padding-xl);
  max-width: 100%;
}
.cuci-hitler {
  position: absolute;
  top: 25.5px;
  left: 28.8px;
  font-weight: 600;
  width: 243px;
}
.cuci-hitler,
.div20,
.pending4 {
  line-height: 21px;
  display: inline-block;
}
.div20 {
  position: absolute;
  top: 25.5px;
  left: 206.8px;
  color: var(--color-slategray-200);
  width: 227.6px;
  z-index: 1;
}
.pending4 {
  position: relative;
  font-weight: 600;
  min-width: 55px;
}
.depth-10-frame-06 {
  position: absolute;
  top: 20px;
  left: 434.4px;
  border-radius: var(--br-xs);
  background-color: var(--color-lightsteelblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-35xl);
  z-index: 2;
  text-align: center;
}
.b10 {
  width: 139.2px;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.depth-9-frame-45 {
  position: absolute;
  top: 0;
  left: 615.6px;
  width: 171.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-5) 0 var(--padding-6xl-5) var(--padding-53xl);
  box-sizing: border-box;
  z-index: 3;
  color: var(--color-slategray-200);
}
.depth-8-frame-0-group {
  width: 821.8px;
  height: 143.5px;
  position: relative;
  max-width: 100%;
}
.ali-gul-pir,
.div21 {
  position: relative;
  line-height: 21px;
}
.ali-gul-pir {
  flex: 1;
  font-weight: 600;
}
.div21 {
  width: 227.6px;
  color: var(--color-slategray-200);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -65px;
}
.ali-gul-pir-parent,
.depth-8-frame-1-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ali-gul-pir-parent {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-1-child {
  width: 405.6px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.verified1 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 51px;
}
.depth-10-frame-0-wrapper2,
.depth-10-frame-07 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-07 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-37xl);
}
.depth-10-frame-0-wrapper2 {
  width: 261.4px;
  flex-shrink: 0;
  flex-direction: column;
  text-align: center;
}
.b11 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-8-frame-11,
.wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper3 {
  width: 139.2px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-11 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-119xl) var(--padding-xl);
}
.ali-sheikh,
.div22 {
  position: relative;
  line-height: 21px;
}
.ali-sheikh {
  flex: 1;
  font-weight: 600;
}
.div22 {
  width: 227.6px;
  color: var(--color-slategray-200);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -65px;
}
.ali-sheikh-parent,
.depth-8-frame-2-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ali-sheikh-parent {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-2-inner {
  width: 405.6px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.verified2 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 51px;
}
.depth-10-frame-0-wrapper3,
.depth-10-frame-08 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-08 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-37xl);
}
.depth-10-frame-0-wrapper3 {
  width: 261.4px;
  flex-shrink: 0;
  flex-direction: column;
  text-align: center;
}
.b12 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-8-frame-21,
.wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper4 {
  width: 139.2px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-21 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-118xl) var(--padding-xl);
}
.ali-ahmed,
.div23 {
  position: relative;
  line-height: 21px;
}
.ali-ahmed {
  flex: 1;
  font-weight: 600;
}
.div23 {
  width: 227.6px;
  color: var(--color-slategray-200);
  display: inline-block;
  flex-shrink: 0;
  margin-left: -65px;
}
.ali-ahmed-parent,
.depth-8-frame-3-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ali-ahmed-parent {
  align-self: stretch;
  flex-direction: row;
}
.depth-8-frame-3-inner {
  width: 405.6px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.verified3 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 51px;
}
.depth-10-frame-0-wrapper4,
.depth-10-frame-09 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-10-frame-09 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-37xl);
}
.depth-10-frame-0-wrapper4 {
  width: 261.4px;
  flex-shrink: 0;
  flex-direction: column;
  text-align: center;
}
.b13 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.21px;
  line-height: 21px;
}
.depth-8-frame-3,
.wrapper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper5 {
  width: 139.2px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
  color: var(--color-slategray-200);
}
.depth-8-frame-3 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-118xl) var(--padding-xl);
}
.fizaa-ali {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.fizaa-ali-wrapper {
  width: 243px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.div24 {
  width: 227.6px;
  position: relative;
  line-height: 21px;
  display: inline-block;
}
.wrapper6 {
  width: 292.6px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  margin-left: -65px;
  color: var(--color-slategray-200);
}
.verified4 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 51px;
}
.depth-10-frame-010 {
  border-radius: var(--br-xs);
  background-color: var(--color-aliceblue-500);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) var(--padding-37xl);
  margin-left: -65px;
  text-align: center;
}
.b14 {
  flex: 1;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10.5px);
  right: -18.2px;
  letter-spacing: 0.21px;
  line-height: 21px;
  display: inline-block;
  color: var(--color-slategray-200);
}
.depth-8-frame-4 {
  align-self: stretch;
  border-top: 1px solid var(--color-gainsboro-100);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-120xl) var(--padding-xl);
  position: relative;
}
.depth-5-frame-0-wrapper,
.depth-5-frame-03 {
  justify-content: flex-start;
  box-sizing: border-box;
}
.depth-5-frame-03 {
  width: 943px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 var(--padding-xs) 0 0;
  gap: var(--gap-12xs-1);
  max-width: 100%;
}
.depth-5-frame-0-wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
  font-size: var(--font-size-sm);
}
.depth-5-frame-0-wrapper,
.frame-parent35,
.verification-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent35 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-400);
  font-family: var(--font-manrope);
}
.verification-inner {
  width: 1155px;
  flex-direction: row;
  justify-content: center;
}
.verification-child {
  width: 113px;
  height: 1px;
  position: absolute;
  margin: 0 !important;
  top: 347.5px;
  left: 164px;
  object-fit: contain;
  z-index: 1;
}
.verification4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl-5) var(--padding-19xl) 99px var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-66xl-5);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .depth-8-frame-11 {
    padding-left: var(--padding-50xl);
    padding-right: var(--padding-50xl);
    box-sizing: border-box;
  }
  .depth-8-frame-21,
  .depth-8-frame-3 {
    padding-left: var(--padding-49xl);
    padding-right: var(--padding-49xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .certificate-verification {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
  .depth-8-frame-1 {
    flex-wrap: wrap;
  }
  .depth-8-frame-2,
  .depth-8-frame-4 {
    padding-left: var(--padding-49xl);
    box-sizing: border-box;
  }
  .depth-8-frame-4 {
    padding-left: var(--padding-50xl);
    padding-right: var(--padding-50xl);
  }
}
@media screen and (max-width: 725px) {
  .frame-parent40 {
    flex-wrap: wrap;
  }
  .depth-8-frame-11,
  .depth-8-frame-21,
  .depth-8-frame-3 {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .frame-parent35 {
    gap: var(--gap-lg);
  }
  .verification4 {
    gap: var(--gap-24xl);
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .certificate-verification {
    font-size: var(--font-size-5xl);
    line-height: 24px;
  }
  .frame-parent37,
  .group,
  .verified-list-parent,
  .verified-pending {
    flex-wrap: wrap;
  }
  .depth-8-frame-2,
  .depth-8-frame-4 {
    padding-left: var(--padding-15xl);
    box-sizing: border-box;
  }
  .depth-8-frame-4 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
  .verification4 {
    gap: var(--gap-2xl);
  }
}
